<!-- <mat-card>
    <mat-card-header fxLayoutAlign="center">
        <mat-card-title (click)="exportAsExel()">Vendeur Contacté <mat-icon>save_alt</mat-icon></mat-card-title>
    </mat-card-header>
    <mat-card-content class="pt-4"> 
        <div fxLayout="row" fxLayoutAlign="space-around">
            <mat-checkbox color="primary" class="example-margin" [checked]="explodeSlices" (change)="explodeSlices = !explodeSlices">Explode Slices</mat-checkbox>
            <mat-checkbox color="primary" class="example-margin" [checked]="showLabels" (change)="showLabels = !showLabels">Show Labels</mat-checkbox>
            <button mat-raised-button (click)="exportAsExel()">
                <mat-icon>save_alt</mat-icon>
                Exporter la liste
            </button>
        </div>
         <div class="w-100 h-300p" #resizedDiv>
            <ngx-charts-pie-chart
                [scheme]="colorScheme"
                [results]="data"
                [legend]="showLegend"
                [explodeSlices]="explodeSlices"
                [labels]="showLabels"
                [doughnut]="doughnut"
                [gradient]="gradient"
                (select)="onSelect($event)">
            </ngx-charts-pie-chart>
        </div>
        <div class="mat-mdc-table admin-table header-sm truncated  h-500p"  #resizedDiv>
            <div class="mat-mdc-header-row">
                <div class="mat-mdc-header-cell">{{ 'PRODUCTS.USER' | translate }}</div>
                <div class="mat-mdc-header-cell">{{ 'STATS' | translate }}</div>
                <div class="mat-mdc-header-cell">{{ 'PRODUCTS.CREATED' | translate }}</div>
                <div class="mat-mdc-header-cell"></div>
            </div>
            <div *ngFor="let order of statsData" class="mat-mdc-row">
                <div class="mat-mdc-cell">{{order.username}}</div>
                <div class="mat-mdc-cell">{{order.nbre}}</div>
                <div class="mat-mdc-cell">{{order.date_action | date}}</div>
                <div class="mat-mdc-cell">
                    <div class="p-2 actions">
                        <button mat-mini-fab color="primary" (click)="info(order.username)" matTooltip="View">
                            <mat-icon>remove_red_eye</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card> -->
