.main{
    min-height: 400px;
    min-height: calc(100vh - 288px);
    padding: 16px;
    box-sizing: border-box;
}
.sidenav{
    width: 250px;
    padding: 8px 16px;
    position: fixed;
    .close{
        margin-left: 178px;
    }
    .divider{
        margin: 8px 0;
    }
}


div.scrollmenu {
    overflow: auto;
    white-space: nowrap;
    scrollbar-width: none;
}

div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding-inline: 5px;
    text-decoration: none;
    font-size: 80%;
}

// div.scrollmenu a:hover {
//     // background-color: #777;
// }
.suggestion-container{
  position: relative;
}

.suggestions-list {
    position: absolute;
    left: 18%;
    right: 0%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background: white;
    border: 1px solid #ccc;
    color: black;
    z-index: 1000;
    // width: 100%;
    max-height: 180px;
    overflow: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.suggestions-list ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.suggestions-list li {
    padding: 2px;
    cursor: pointer;
    font-size: 65%;
    color: #444;
    font-weight: 400;
    padding-right: 3%;
    padding-left: 3%;
    display: flex;
    vertical-align: middle;
}

.suggestions-list li mat-icon {
  display: flex;
  font-size: 100%;
  background-color: #f0f0f0;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: 24px;
  color: #777;
  font-weight: bolder;
  margin-right: 1%;
}

.suggestions-list li:hover {
    background-color: #f0f0f0;
}

@media only screen and (max-width: 600px) {
  .suggestions-list[_ngcontent-ng-c2552304252] {
      position: absolute;
      left: 18%;
  }
  .suggestions-list {
    left: 23%;
    right: 5%;
    border-radius: 20px;
  }
  .suggestions-list li mat-icon{
    display: none;
  }

}
.cart-container {
    position: relative;
    display: inline-block;
  }
  
  .cart-count {
    position: absolute;
    top: -10px; /* Ajustez pour placer le nombre correctement */
    right: 15px; /* Ajustez pour placer le nombre correctement */
    background-color: red;
    color: white;
    font-size: 12px;
    font-weight: bold;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }
  