<mat-sidenav-container class="pages-container">
  <mat-sidenav [opened]="false" mode="over" #sidenav class="sidenav mat-elevation-z6">
      <button mat-icon-button color="accent" class="close" (click)="sidenav.close()">
          <mat-icon color="warn">close</mat-icon>
      </button>
      <div class="divider"></div>
      <app-sidenav-menu *ngIf="sidenavMenuItems" [menuItems]="sidenavMenuItems" [menuParentId]="null"></app-sidenav-menu>
      <div class="divider"></div>
      <div class="text-center py-2">
          <a href="https://www.facebook.com/profile.php?id=100090755901688">
              <img src="./assets/images/facebook-svgrepo-com.svg" style="width: 45px;">
          </a>
          <a href="https://www.linkedin.com/company/fidelitybusiness/">
            <img src="./assets/images/linkedin-svgrepo-com.svg" style="width: 50px; margin-inline: 5%;">
          </a>
          <a href="https://fidely.io/">
            <img src="./assets/images/google-plus-svgrepo-com.svg" style="width: 45px;">
          </a>
      </div>
  </mat-sidenav>

  <mat-toolbar color="primary" id="header-toolbar">
      <mat-toolbar-row fxLayoutAlign="space-between center" class="top-toolbar bg-primary">
          <span fxHide="false" fxHide.gt-sm>
              <button mat-button (click)="sidenav.toggle()" class="sidenav-toggle">
                  <mat-icon class="mat-icon-md mr-0">menu</mat-icon>
              </button>
          </span>
          <span fxShow="false" fxShow.gt-xs fxLayoutAlign="center center"><mat-icon>call</mat-icon> Fixe: (+223) 76 00 79 79 </span>
          <app-top-menu></app-top-menu>
      </mat-toolbar-row>
      <mat-toolbar-row fxLayoutAlign="space-between center" class="logo-toolbar bg-primary">
          <div fxFlex="20">
              <a class="logo" routerLink="/" (click)="closeSubMenus()">
                  <img src="./assets/images/logo_fidelity.png" alt="logo_fidelity">
                  <span  fxShow.xs="false">&nbsp;&nbsp;Fidelity</span>
              </a>
          </div>
          <div fxFlex fxShow="false" fxShow.gt-sm>
              <!-- <form method="get" class="search-form" fxLayout="row">
                  <button mat-raised-button [matMenuTriggerFor]="categoriesMenu" #categoriesMenuTrigger="matMenuTrigger" type="button" class="mat-elevation-z0 categories text-truncate">{{ category?.nom }}<mat-icon iconPositionEnd>arrow_drop_down</mat-icon></button>
                  <mat-menu #categoriesMenu="matMenu" [overlapTrigger]="false" xPosition="before" class="categories-dropdown">
                      <span (mouseleave)="categoriesMenuTrigger.closeMenu()">
                          <app-category-list [categories]="categories" [categoryParentId]="0" (change)="changeCategory($event)"></app-category-list>
                      </span>
                  </mat-menu>
                  <input type="text" [(ngModel)]="searchTerm" class="form-control" placeholder="Search" fxFlex>
                  <button mat-mini-fab type="button" (click)="onSearch()" class="search-btn mat-elevation-z0 text-muted">
                      <mat-icon>search</mat-icon>
                  </button>
              </form> -->
              <form (submit)="onSearch($event)" class="search-form" fxLayout="row">
                <button mat-raised-button [matMenuTriggerFor]="categoriesMenu" #categoriesMenuTrigger="matMenuTrigger" type="button" class="mat-elevation-z0 categories">{{ category?.nom }}<mat-icon iconPositionEnd>arrow_drop_down</mat-icon></button>
                <mat-menu #categoriesMenu="matMenu" [overlapTrigger]="false" xPosition="before" class="categories-dropdown">
                    <span (mouseleave)="categoriesMenuTrigger.closeMenu()" >
                        <app-category-list [categories]="categories" [categoryParentId]="0" (change)="changeCategory($event)"></app-category-list>
                    </span>
                </mat-menu>
                <input type="text" [formControl]="searchTerm" placeholder="Rechercher un produit" name="query" fxFlex>
                <button mat-mini-fab type="submit"  class="search-btn mat-elevation-z0 text-muted">
                  <mat-icon>search</mat-icon>
              </button>
              </form>
              <div class="suggestion-container" *ngIf="showSuggestions && suggestions.length > 0">
                <div class="suggestions-list" appClickOutside="onClickOutside()" #suggestionsContainer>
                    <ul>
                        <li *ngFor="let suggestion of suggestions" (click)="selectSuggestion(suggestion.item,suggestion.type)">
                            <mat-icon>search</mat-icon>
                            <span *ngIf="suggestion.type === 'product'"><b>Produit: </b> {{ suggestion.item.nom }}</span>
                            <span *ngIf="suggestion.type === 'category'"><b>Categorie: </b> {{ suggestion.item.nom }}</span>
                        </li>
                    </ul>
                </div>
            </div>
              <!-- <router-outlet></router-outlet> -->

              <!-- <form method="get" class="search-form" fxLayout="row" (submit)="onSearch($event)">
                <button mat-raised-button [matMenuTriggerFor]="categoriesMenu" #categoriesMenuTrigger="matMenuTrigger" type="button" class="mat-elevation-z0 categories text-truncate">{{ category?.nom }}<mat-icon iconPositionEnd>arrow_drop_down</mat-icon></button>
                <mat-menu #categoriesMenu="matMenu" [overlapTrigger]="false" xPosition="before" class="categories-dropdown">
                    <span (mouseleave)="categoriesMenuTrigger.closeMenu()">
                        <app-category-list [categories]="categories" [categoryParentId]="0" (change)="changeCategory($event)"></app-category-list>
                    </span>
                </mat-menu>
                <input type="text" [(ngModel)]="searchTerm" class="form-control" placeholder="Search" fxFlex>
                <button mat-mini-fab type="button"  class="search-btn mat-elevation-z0 text-muted">
                    <mat-icon>search</mat-icon>
                </button>
            </form> -->

          </div>
          <div  fxFlex="20" fxFlex fxShow="false" fxShow.xs="true"  fxShow.gt-md="false" fxShow.gt-sm="false">

              <form (submit)="onSearch($event)" class="search-form" fxLayout="row">
                <!-- [formControl]="searchTerm" -->
                <input type="text" [formControl]="searchTerm" placeholder="Rechercher un produit" name="query" fxFlex>
                <button mat-mini-fab type="submit"  class="search-btn mat-elevation-z0 text-muted">
                  <mat-icon>search</mat-icon>
              </button>
              </form>
							<div *ngIf="showSuggestions && suggestions.length > 0"
										class="suggestions-list"
										appClickOutside="onClickOutside()"
										#suggestionsContainer>
								<ul>
                  <li *ngFor="let suggestion of suggestions" (click)="selectSuggestion(suggestion.item,suggestion.type)">
                    <mat-icon>search</mat-icon>
                    <span *ngIf="suggestion.type === 'product'"><b>Produit: </b> {{ suggestion.item.nom }}</span>
                    <span *ngIf="suggestion.type === 'category'"><b>Categorie: </b> {{ suggestion.item.nom }}</span>
                  </li>
								</ul>
							</div>
          </div>

      </mat-toolbar-row>
      <!-- <mat-toolbar-row fxLayoutAlign="space-between center" class="logo-toolbar bg-primary" style="height: 55px !important;">
        <div  fxFlex="20" fxFlex fxShow="false" fxShow.xs="true"  fxShow.gt-md="false" fxShow.gt-sm="false">

            <form (submit)="onSearch($event)" class="search-form" fxLayout="row">

              <input type="text" [(ngModel)]="searchTerm" placeholder="Rechercher un produit" name="query" fxFlex>
              <button mat-mini-fab type="submit"  class="search-btn mat-elevation-z0 text-muted">
                <mat-icon>search</mat-icon>
            </button>
            </form>

        </div>
      </mat-toolbar-row> -->
      <mat-toolbar-row fxShow="false" fxShow.xs="true" fxLayoutAlign="space-between left" class="logo-toolbar bg-primary" style="height: 30px !important;">

        <div class="scrollmenu" fxShow.gt-md="false" fxShow.gt-sm="false">
            <!-- <a href="#home">Home</a>
            <a href="#news">News</a> -->

            <a [routerLink]="['/products', 'mode']">Mode-Beauté</a>
            <a [routerLink]="['/products', 'health']">Santé-Bien-être</a>
            <a [routerLink]="['/products', 'household']">Electroménagers</a>
            <a [routerLink]="['/products', 'multimedia']">Multimédia</a>
            <a [routerLink]="['/products', 'home']">Maison-Bureau</a>
            <a [routerLink]="['/products', 'real-estate']">Immobilier & Foncier</a>
            <a [routerLink]="['/products', 'auto']">Auto-Moto</a>
            <a [routerLink]="['/products', 'custom']">{{ 'NAV.OTHERS' | translate }}</a>
          </div>
      </mat-toolbar-row>

  </mat-toolbar>
  <app-menu fxShow="false" fxShow.gt-sm></app-menu>

  <div class="theme-container main">
      <app-breadcrumb fxShow fxHide.xs></app-breadcrumb>
      <router-outlet></router-outlet>
  </div>

  <!-- <app-options></app-options> -->
  <app-footer></app-footer>
  <div *ngIf="showBackToTop" fxLayout="row" fxLayoutAlign="center center" class="back-to-top transition" (click)="scrollToTop()">
      <mat-icon>arrow_upward</mat-icon>
  </div>
</mat-sidenav-container>
