<mat-sidenav-container>
    <mat-sidenav #sidenav [opened]="sidenavOpen" [mode]="sidenavOpen ? 'side' : 'over'" class="account-sidenav">
      <mat-card class="user_acount_profile">

        <div class="user_acount_logo" (click)="openFileDialog()">
          <img *ngIf="!currentUser.logo" [src]="defaultLogo" class="profile-icon" alt="boutique logo">
          <img *ngIf="currentUser.logo" [src]="'https://image.geotrac.io/minio/api/v1/view?bucket=ecommerce-bucket&file='+currentUser.logo" class="profile-icon" alt="boutique logo">
          <img src="assets/images/icons/camera_icon.png" class="camera-icon" alt="...">
        </div>
        <div *ngIf="currentUser.name" class="mb-3">
          <p>{{currentUser.name}}</p>
        </div>

        <ng-template #FilePopupTemplate>
          <h1 mat-dialog-title>{{"CHOOSE_IMG" | translate}}</h1>
          <div mat-dialog-content >
            <form [formGroup]="LogoForm" (ngSubmit)="onLogoChose()" autocomplete="off" class="text-center">
              <div mat-dialog-content>
                <div fxLayout="row wrap">
                    <input formControlName="logo" #fileInput type="file" (change)="onFileSelected($event)" class="d-none" required>
                    <button type="button" style="margin: 0 auto;" mat-raised-button (click)="fileInput.click()">
                      {{ selectedLogoName || 'logo' }}
                      <mat-icon>upload</mat-icon>
                    </button>
                </div>
              </div>
              <div mat-dialog-actions>
                <div fxLayout="row" fxLayoutAlign="space-between center" class="w-100">
                  <button mat-raised-button class="warne" type="button" (click)="onNoClick()">Annuler</button>

                  <button mat-raised-button class="blue" type="submit">Enregistrer</button>
                </div>
              </div>
            </form>
          </div>
        </ng-template>

      </mat-card>

      <ng-container *ngFor="let link of links">
        <a mat-button [routerLink]="link.href" routerLinkActive="horizontal-active-link" [routerLinkActiveOptions]="{exact: false}">
          <mat-icon>{{link.icon}}</mat-icon>
          {{ link.name }}
        </a>
      </ng-container>
        <!-- <mat-nav-list class="mat-elevation-z1 h-100">
            <mat-list-item *ngFor="let link of links">
                <mat-icon matListIcon class="mat-icon-sm">{{link.icon}}</mat-icon>
                <a matLine [routerLink]="link.href" routerLinkActive="horizontal-active-link" [routerLinkActiveOptions]="{exact:true}">{{ link.name }}</a>
            </mat-list-item>
        </mat-nav-list> -->
    </mat-sidenav>
    <mat-sidenav-content class="account-content" [ngClass.lt-sm]="'p-left'">
      <div fxLayout="row" fxLayoutAlign="space-between center" fxHide.gt-sm class="header-row mat-elevation-z1 text-muted">
          <button *ngIf="!sidenavOpen" mat-icon-button (click)="sidenav.toggle()" class="toggle-button">
              <mat-icon class="icon-more_vert">more_vert</mat-icon>
              <mat-icon class="icon-menu">menu</mat-icon>
          </button>
          <h3>{{ 'NAV.HOME' | translate }}</h3>
      </div>
      <div class="account-wrapper mat-elevation-z1">
          <router-outlet></router-outlet>
      </div>
  </mat-sidenav-content>




    <!-- <mat-sidenav-content class="account-content" ngClass.gt-sm="p-left">
        <div fxLayout="row" fxHide.gt-sm fxLayoutAlign="space-between center" class="header-row mat-elevation-z1 text-muted">
            <button *ngIf="!sidenavOpen" mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>more_vert</mat-icon>
            </button>
            <h3>{{'NAV.HOME' | translate}}</h3>
        </div>
        <div class="account-wrapper mat-elevation-z1">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content> -->
</mat-sidenav-container>
