<div class="top-menu">
  <span fxShow="false" fxShow.gt-sm>
    <a mat-button (click)="promptInstall()" *ngIf="installButtonVisible">Telecharger l’Appli</a>
  </span>

  <div fxShow="false" fxShow.gt-xs="true">
    <button mat-button [matMenuTriggerFor]="accountMenu" #accountMenuTrigger="matMenuTrigger">
      <span fxShow.gt-sm>Mon compte</span>&nbsp;
      <mat-icon class="mat-icon-sm caret" iconPositionEnd>account_circle</mat-icon>
    </button>
  </div>

  <div fxShow="false" fxShow.xs="true" fxShow.lt.xs="true">
    <button mat-icon-button matTooltip="Mon compte" [matMenuTriggerFor]="accountMenu" #accountMenuTrigger="matMenuTrigger">
      <mat-icon>account_circle</mat-icon>
    </button>
  </div>

  <mat-menu #accountMenu="matMenu" [overlapTrigger]="false" xPosition="before" class="primary account">
    <span *ngIf="user == null || user == undefined" (mouseleave)="accountMenuTrigger.closeMenu()">
      <a mat-menu-item routerLink="authentication/sign-in">
        <mat-icon class="mat-icon-sm">exit_to_app</mat-icon>
        <span>{{ 'SIGN_IN' | translate }}</span>
      </a>
      <a mat-menu-item routerLink="authentication/sign-up">
        <mat-icon class="mat-icon-sm">person_add</mat-icon>
        <span>{{ 'SIGN_UP' | translate }}</span>
      </a>
    </span>
    <span *ngIf="user != null && user != undefined" (mouseleave)="accountMenuTrigger.closeMenu()">
      <div fxLayout="row" fxLayoutAlign="space-around center" class="user-info">
        <img src="assets/images/others/user.jpg" alt="user-image" width="50">
        <p>{{user.firstname + " "+ user.lastname}} <br>
          <small>{{user.username}}</small>
        </p>
      </div>
      <div class="divider"></div>
      <a mat-menu-item routerLink="/{{routes}}">
        <mat-icon class="mat-icon-sm">settings</mat-icon>
        <span>{{'NAV.SETTING'| translate}}</span>
      </a>
      <a mat-menu-item routerLink="/faq">
        <mat-icon class="mat-icon-sm">help</mat-icon>
        <span>Help</span>
      </a>
      <div class="divider"></div>
      <a mat-menu-item routerLink="/authentication/sign-in" (click)="logout()">
        <mat-icon class="mat-icon-sm">power_settings_new</mat-icon>
        <span>{{ 'LOGOUT' | translate }}</span>
      </a>
    </span>
  </mat-menu>
</div>
