<div fxLayout="row wrap">
    <div fxFlex="100" fxFlex.gt-sm="50" class="p-2">
        <h2 class="text-muted text-center">Détails du compte</h2>
        <form [formGroup]="infoForm" (ngSubmit)="onInfoFormSubmit(infoForm.value)">
            <mat-form-field class="w-100 mt-2">
                <input matInput placeholder="Prenom" formControlName="firstname" required>
                <mat-error *ngIf="infoForm.controls.firstname.errors?.required">Le prenom est obligatoire</mat-error>
                <mat-error *ngIf="infoForm.controls.firstname.hasError('minlength')">Le prénom n'est pas assez long, minimum 3 caractères</mat-error>
            </mat-form-field>
            <mat-form-field class="w-100 mt-2">
                <input matInput placeholder="Nom" formControlName="lastname" required>
                <mat-error *ngIf="infoForm.controls.lastname.errors?.required">Le nom est obligatoire</mat-error>
                <mat-error *ngIf="infoForm.controls.lastname.hasError('minlength')">Le nom n'est pas assez long, minimum 3 caractères</mat-error>
            </mat-form-field>
            <mat-form-field class="w-100 mt-1">
                <input matInput placeholder="Numéro de contact" formControlName="phoneNumber" required>
                <mat-error *ngIf="infoForm.controls.phoneNumber.errors?.required">Le numéro de contact est obligatoire</mat-error>
                <mat-error *ngIf="infoForm.controls.phoneNumber.hasError('minlength')">Le numéro n'est pas assez long, minimum 8 caractère</mat-error>
                <mat-error *ngIf="infoForm.controls.lastname.hasError('minlength')">Le numéro est trop long, maximun of 8 characters</mat-error>
            </mat-form-field>
            <mat-form-field class="w-100 mt-1">
              <input matInput placeholder="Nom de la boutique" formControlName="boutique">
              <!-- <mat-error *ngIf="infoForm.controls.phoneNumber.errors?.required">Le numéro de contact est obligatoire</mat-error>
              <mat-error *ngIf="infoForm.controls.phoneNumber.hasError('minlength')">Le numéro n'est pas assez long, minimum 8 caractère</mat-error>
              <mat-error *ngIf="infoForm.controls.lastname.hasError('minlength')">Le numéro est trop long, maximun of 8 characters</mat-error> -->
          </mat-form-field>
            <mat-form-field class="w-100 mt-1">
                <input matInput placeholder="Adresse" formControlName="adresse" >
            </mat-form-field>
            <div class="text-center mt-2">
                <button mat-raised-button color="warn" (click)="onInfoFormSubmit(infoForm.value)">Enregistrer</button>
            </div>
        </form>
    </div>
    <div fxFlex="100" fxFlex.gt-sm="50" class="p-2" ngClass.sm="mt-2" ngClass.xs="mt-2">
        <h2 class="text-muted text-center">Changement de mot de passe</h2>
        <form [formGroup]="passwordForm" (ngSubmit)="onPasswordFormSubmit(passwordForm.value)">
            <mat-form-field class="w-100 mt-2">
                <input matInput placeholder="Mot de passe actuel" formControlName="currentPassword" type="password" minlength="6" required>
                <mat-error *ngIf="passwordForm.controls.currentPassword.errors?.required">Mot de passe actuel est obligatoire</mat-error>
                <mat-error *ngIf="passwordForm.controls.currentPassword.hasError('minlength')">Mot de passe actuel n'est pas assez long, minimum 6 caractères</mat-error>
            </mat-form-field>
            <mat-form-field class="w-100 mt-1">
                <input matInput placeholder="nouveau mot de passe" formControlName="newPassword" type="password" minlength="6" required>
                <mat-error *ngIf="passwordForm.controls.newPassword.errors?.required">nouveau mot de passe est obligatoire</mat-error>
                <mat-error *ngIf="passwordForm.controls.newPassword.hasError('minlength')">nouveau mot de passe n'est pas assez long, minimum 6 caractères</mat-error>
            </mat-form-field>
            <mat-form-field class="w-100 mt-1">
              <input matInput placeholder="Confirmer le nouveau mot de passe" formControlName="confirmNewPassword" type="password" required>
              <mat-error *ngIf="passwordForm.controls.confirmNewPassword.errors?.required">Confirmer le nouveau mot de passe est obligatoire</mat-error>
              <mat-error *ngIf="passwordForm.controls.confirmNewPassword.hasError('mismatchedPasswords')">Les mots de passe ne correspondent pas</mat-error>
            </mat-form-field>
            <div class="text-center mt-2">
                <button mat-raised-button color="warn" (click)="onPasswordFormSubmit(passwordForm.value)">Changement</button>
            </div>
        </form>
    </div>
</div>
