$primary_color: #25224a;
$link_color: #0056b3;
$link_hover_color: lighten($primary_color, 20%);
$gap_size: 16px;

.main-container{
  @media only screen and (max-width: 430px) {
    margin-bottom: 50px;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    gap: $gap_size;
    // justify-content: center;

    .main-title {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
    }

    h2 {
      color: $primary_color;
      font-weight: bold;

      @media (max-width: 500px) {
        font-size: 18px;
      }
    }
  }

  .load-container {
    margin-top: 20px;

    @media (max-width: 400px) {
      margin-bottom: 60px;
    }

    .load-more-wrapper {
      display: flex;
      justify-content: center;
      margin: 20px 0;

      a {
        color: $link_color;
        text-decoration: none;
        font-weight: bold;
        cursor: pointer;
        transition: color 0.3s ease;

        &:focus,
        &:hover {
          color: $link_hover_color;
          text-decoration: underline;
        }
      }
    }
  }

  .sponsorship-title {
    text-align: center;
    margin: 20px 0;
    font-size: 24px;
    color: $primary_color;
    font-weight: bold;

    @media (max-width: 500px) {
      font-size: 20px;
    }
  }
}
