<div class="main-container">
  <mat-chip-listbox *ngIf="promoProducts?.length == 0">
      <mat-chip-option color="warn" highlighted selectable="false">YOU HAVE NO ITEMS IN WISH LIST.</mat-chip-option>
  </mat-chip-listbox>

  <div class="container">
		<div class="main-title">
			<h2>Ma Liste de Souhaits ✨</h2>
		</div>
		<div class="card" *ngFor="let product of promoProducts" fxFlex="47" fxFlex.gt-xs="30"fxFlex.gt-sm="22" fxFlex.gt-md="17">
			<app-product-card [product]="product"></app-product-card>
		</div>
	</div>
	<div *ngIf="promoProducts" class="load-container">
		<div class="load-more-wrapper" *ngIf="promoProducts?.length < unchangedProducts?.length">
			<a (click)="loadMore()">Voir plus</a>
		</div>
	</div>
</div>
