<div fxFlex="100" fxShow="false" fxShow.gt-xs="true" class="desktop-container">
  <footer class="bg-primary footer">
    <div fxLayout="column" fxLayout.gt-sm="row wrap" fxLayoutAlign="center center" class="border-bottom-mute subscribe-block theme-container">
        <div fxFlex="100" fxFlex.gt-sm="40" fxLayout="column" fxLayoutAlign="center center">
            <h1 class="fw-500">{{'NEWSLETTER' | translate}}</h1>
            <h3 class="fw-300 secondary-color">{{'NEWSLETTER_DESC' | translate}}</h3>
        </div>
        <form method="get" class="subscribe-search-form" fxLayout="row" fxFlex="100" fxFlex.gt-sm="42.4" ngClass.sm="mt-2" ngClass.xs="mt-2" [formGroup]="contactForm" (ngSubmit)="subscribe()">
          <input type="text" formControlName="email" [placeholder]="'FIELD.EMAIL' | translate" fxFlex>  <!-- Utilisez formControlName -->
          <button mat-raised-button  type="submit" class="mat-elevation-z0 text-muted jaune">{{'SUBSCRIBE' | translate}}</button>
      </form>
      <div *ngIf="contactForm.get('email').invalid && (contactForm.get('email').dirty || contactForm.get('email').touched)">
        <div *ngIf="contactForm.get('email').errors?.['required']">
          Email is required.
        </div>
        <div *ngIf="contactForm.get('email').errors?.['email']">
          Invalid email address.
        </div>
      </div>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="space-between" class="py-4 border-bottom-mute theme-container">
        <div fxFlex="100" fxFlex.gt-sm="20" fxFlex.sm="40">
          <h3 class="col-title">{{'LINKS' | translate}}</h3>
          <p class="mt-3"><a routerLink="/" class="link secondary-color">Accueil</a></p>
          <p class="mt-1"><a routerLink="/referal" class="link secondary-color">Parrainer</a></p>
          <p class="mt-1"><a routerLink="/categories" class="link secondary-color">Catégories</a></p>
          <p class="mt-1"><a [routerLink]="accountLink" class="link secondary-color">{{'ACCOUNT' | translate}}</a></p>
          <p class="mt-1"><a routerLink="/contact" class="link secondary-color"> {{'CONTACT' | translate}}</a></p>
          <p class="mt-1"><a routerLink="/faq" class="link secondary-color">{{'FAQ' | translate}}</a></p>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="30" fxFlex.sm="60" ngClass.xs="mt-3" class="contact-information">
          <h3 class="col-title">{{'CONTACT_INFO' | translate}}</h3>
          <p fxLayout="row" fxLayoutAlign="start center" class="mt-3 secondary-color">
              <mat-icon>location_on</mat-icon>
              <span>Sotuba ACI, près de Nissan</span>
          </p>
          <p fxLayout="row" fxLayoutAlign="start center" class="mt-2 secondary-color">
              <mat-icon>call</mat-icon>
              <span>(+223) 76 00 79 79</span>
          </p>
          <p fxLayout="row" fxLayoutAlign="start center" class="mt-2 secondary-color">
              <mat-icon>mail_outline</mat-icon>
              <span>info&#64;fidelity-market.com</span>
          </p>
          <p fxLayout="row" fxLayoutAlign="start center" class="mt-2 secondary-color">
              <mat-icon>schedule</mat-icon>
              <span>Lun - Sam: 8:00 - 17:00</span>
          </p>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="50" ngClass.sm="mt-3" class="map-container">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15570.987263560746!2d-7.9546391514899835!3d12.664598600520799!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xe51d394abcac883%3A0x2a6db484806377cf!2sAplika%20Technology!5e0!3m2!1sfr!2sma!4v1729968121379!5m2!1sfr!2sma" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center" class="copyright secondary-color theme-container">
      <p ngClass.xs="mt-1">Copyright © 2024 All Rights Reserved</p>
      <p>{{'RIGHT' | translate}} <a mat-button href="https://geotrac.io/" target="_blank">Geotrac</a></p>
    </div>
  </footer>
</div>

<div class="mobile-container" fxFlex="100" fxShow="false" fxShow.xs="true" fxShow.lt.xs="true">
  <footer class="footer-menu">
    <nav aria-label="Footer Navigation">
      <ul>
        <li>
          <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-item">
            <div class="icon-container">
              <img src="assets/icons/footer/home_w.png" class="icon white-img" alt="Home">
              <img src="assets/icons/footer/home.png" class="icon active-img" alt="Home">
            </div>
            <span>Accueil</span>
          </a>
        </li>
        <li>
          <a routerLink="/referal" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }" class="nav-item">
            <div class="icon-container">
              <img src="assets/icons/footer/gift_w.png" class="icon white-img" alt="Gift">
              <img src="assets/icons/footer/gift.png" class="icon active-img" alt="Gift">
            </div>
            <span>Parrainer</span>
          </a>
        </li>
        <li>
          <a routerLink="/categories" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }" class="nav-item">
            <div class="icon-container">
              <img src="assets/icons/footer/category_w.png" class="icon white-img" alt="Category">
              <img src="assets/icons/footer/category.png" class="icon active-img" alt="Category">
            </div>
            <span>Catégories</span>
          </a>
        </li>
        <li>
          <a [routerLink]="accountLink" routerLinkActive="active" [ngClass]="{ 'active': isOtherRoutesActive() }" [routerLinkActiveOptions]="{ exact: false }" class="nav-item">
            <div class="icon-container">
              <img src="assets/icons/footer/account_w.png" class="icon white-img" alt="account">
              <img src="assets/icons/footer/account.png" class="icon active-img" alt="account">
            </div>
            <span>Compte</span>
          </a>
        </li>
      </ul>
    </nav>
  </footer>
</div>
