<!-- Quick Buttons (HEAD) -->




<div fxLayout="row wrap" class="quick-buttons">
  <button fxFlex="47.8" fxFlex.gt-xs="32" fxFlex.gt-sm="24" mat-raised-button class="bleu" matTooltip="Ajouter un produit" routerLink="/account-seller/products-seller/add-product">
    <i class="fa-solid fa-plus"></i> {{"ADMIN_NAV.ADD_PRODUCT" | translate}}
  </button>
  <button fxFlex="47.8" fxFlex.gt-xs="32" fxFlex.gt-sm="24" mat-raised-button class="amber" matTooltip="Lien de votre boutique" (click)="shareLink(el)">
    <span #el>
      <i class="fa-solid fa-share" *ngIf="!isCopied"></i>
      <i class="fa-solid fa-check" *ngIf="isCopied"></i>
    </span>
    Partager ma boutique
  </button>
  <button fxFlex="47.8" fxFlex.gt-xs="32" fxFlex.gt-sm="24" mat-raised-button class="amber" matTooltip="Information" routerLink="/account-seller/settings">
    <i class="fa-solid fa-gears"></i> Gérer ma boutique
  </button>
  <button fxFlex="47.8" fxFlex.gt-xs="32" fxFlex.gt-sm="24" mat-raised-button class="bleu" matTooltip="Promouvoir" routerLink="/account-seller/parrainage">
    <i class="fa-solid fa-bullhorn"></i> Promouvoir mes produits
  </button>
</div>

<!-- <ng-template #popupTemplate>
  <h1 mat-dialog-title>Recharger mon compte</h1>
  <div mat-dialog-content>
    <form [formGroup]="form" (ngSubmit)="onRecharge()" autocomplete="off">
      <div mat-dialog-content>
        <div fxLayout="row wrap">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Montant</mat-label>
            <input matInput formControlName="amount" required type="number">
            <mat-error *ngIf="form.get('amount').hasError('required')">
              {{"FIELD_ERROR.AMOUNT_REQUIRED" | translate}}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div mat-dialog-actions>
        <div fxLayout="row" fxLayoutAlign="space-between center" class="w-100">
          <button mat-raised-button color="warn" type="button" (click)="onNoClick()">Annuler</button>
          <button mat-raised-button class="bleu" type="submit">Recharge</button>
        </div>
      </div>
    </form>
  </div>
</ng-template> -->

<!-- Main Card Layout (HEAD) -->
<!-- <div fxLayout="row wrap">
  <div fxFlex="100" fxFlex.xl="33.3" fxFlex.lg="33.3" fxFlex.md="50" fxFlex.sm="100" class="p-2">
    <mat-card class="gradient-purple tile p-2">
      <mat-icon>shopping_cart</mat-icon>
      <h2>{{statsNumber.total}}</h2>
      <p>Produits</p>
    </mat-card>
  </div>
  <div fxFlex="100" fxFlex.xl="33.3" fxFlex.lg="33.3" fxFlex.md="50" fxFlex.sm="100" class="p-2">
    <mat-card class="bleu tile p-2">
      <mat-icon>check_circle</mat-icon>
      <h2>{{statsNumber.actif}}</h2>
      <p>Produits actif</p>
    </mat-card>
  </div>
  <div fxFlex="100" fxFlex.xl="33.3" fxFlex.lg="33.3" fxFlex.md="50" fxFlex.sm="100" class="p-2">
    <mat-card class="rose tile p-2">
      <mat-icon>cancel</mat-icon>
      <h2>{{statsNumber.inactif}}</h2>
      <p>Produits inactif</p>
    </mat-card>
  </div>
</div> -->

<!-- <div fxLayout="row wrap">
  <div fxFlex="100" fxFlex.xl="33.3" fxFlex.lg="33.3" fxFlex.md="50" fxFlex.sm="100" class="p-2">
    <mat-card class="gradient-gray tile p-2">
      <mat-icon>star</mat-icon>
      <h2>0</h2>
      <p>Meilleurs produits</p>
    </mat-card>
  </div>
  <div fxFlex="100" fxFlex.xl="33.3" fxFlex.lg="33.3" fxFlex.md="50" fxFlex.sm="100" class="p-2">
    <mat-card class="gradient-brown tile p-2">
      <mat-icon>pending</mat-icon>
      <h2>{{statsNumber.pending}}</h2>
      <p>Produits en attente de validation</p>
    </mat-card>
  </div>
  <div fxFlex="100" fxFlex.xl="33.3" fxFlex.lg="33.3" fxFlex.md="50" fxFlex.sm="100" class="p-2">
    <mat-card class="gradient-teal tile p-2">
      <mat-icon>group_add</mat-icon>
      <h2>{{statsNumber.contact}}</h2>
      <p>Clients Acquis</p>
    </mat-card>
  </div>
</div> -->

<!-- <div fxLayout="row wrap">
  <div fxFlex="100" fxFlex.xl="50" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="100" class="p-2">
    <mat-card class="gradient-teal tile p-2" routerLink="/account/orders-manage">
      <mat-icon>shop</mat-icon>
      <h2>{{commandePendingTotal || '0'}}</h2>
      <p>Commandes en attente</p>
    </mat-card>
  </div>
  <div fxFlex="100" fxFlex.xl="50" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="100" class="p-2">
    <mat-card class="gradient-brown tile p-2">
      <mat-icon>score</mat-icon>
      <h2>{{montantTotalMensuel || '0'}} Fcfa</h2>
      <p *ngIf="pourcentageEvolution > 0">Vente du mois +{{pourcentageEvolution}}%</p>
      <p *ngIf="pourcentageEvolution < 0">Vente du mois {{pourcentageEvolution}}%</p>
    </mat-card>
  </div>
  <div fxFlex="100" fxFlex.xl="50" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="100" class="p-2">
    <mat-card class="rose tile p-2" routerLink="/account/products-seller">
      <mat-icon>check_circle</mat-icon>
      <h2>{{statsNumber.actif}}</h2>
      <p>Produits actif</p>
    </mat-card>
  </div>
  <div fxFlex="100" fxFlex.xl="50" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="100" class="p-2">
    <mat-card class="bleu tile p-2">
      <mat-icon>check_circle</mat-icon>
      <h2>{{visitTotal || '0'}}</h2>
      <p>Visiteurs pour mes produits</p>
    </mat-card>
  </div>
</div> -->

<div fxLayout="row wrap" class="card-container">
  <div *ngFor="let card of cards" fxFlex="47.8" fxFlex.gt-xs="32" fxFlex.gt-sm="24" [routerLink]="card.routerLink">
    <div class="card" [ngClass]="card.cardClass">
      <div class="card-header">
        <span class="card-icon"><i [class]="card.icon"></i></span>
        <span class="card-value">{{ card.value }}</span>
      </div>
      <h3>{{ card.title }}</h3>
      <p>{{ card.content }}</p>
    </div>
  </div>
</div>

<mat-card>
  <div fxFlex="100" fxFlex.gt-sm="100" class="p-2">
    <app-analytics></app-analytics>
  </div>
</mat-card>