<div class="main-container">
  <div class="header">
    <div class="customer_account_logo" (click)="fileInput.click()">
      <input accept="image/*" #fileInput type="file" (change)="onFileSelected($event)" class="d-none">
      <img *ngIf="!currentUser.logo" [src]="defaultLogoUrl" class="profile-icon" alt="logo">
      <img *ngIf="currentUser.logo" [src]="'https://image.geotrac.io/minio/api/v1/view?bucket=ecommerce-bucket&file='+currentUser.logo" class="profile-icon" alt="logo">
      <img src="assets/images/icons/camera_icon.png" class="camera-icon" alt="...">
    </div>
   <div class="customer_account_info" fxLayout="column" fxLayoutAlign="start center" routerLink="/account-customer/settings">
    <h2>{{user.firstname}} {{user.lastname}}</h2>
    <p class="phone">+{{user.username}}</p>
   </div>
  </div>

  <!--
  <div fxLayout="row wrap" class="card-container">
    <div *ngFor="let card of cards.slice(0, 5)" fxFlex="48" fxFlex.gt-xs="32" fxFlex.gt-sm="24" (click)="card.action ? WhatsAppUs(card.title) : null" [routerLink]="card.action ? null : card.routerLink">
      <div class="card" [ngClass]="card.cardClass">
        <span class="card-icon"><i [class]="card.icon"></i></span>
        <h3>{{ card.title }}</h3>
        <p>{{ card.content }}</p>
      </div>
    </div>
  </div>
-->

<div class="title-container">
  <h3>Mes commandes recentes</h3>
  <p *ngIf="taillesOrders > 3" (click)="toggleShowMore()">
    {{ showMoreOrders ? 'Voir moins' : 'Voir plus' }}
  </p>
</div>
<!--<hr class="section-separator">-->

<div class="not-favoris" *ngIf="taillesOrders === 0">
  Tu n’as pas encore commander.
  <button  type="button"  routerLink="/cart">Commander un produit</button>
</div>

  <!-- <div class="see-more-container" *ngIf="taillesOrders > 5">
    <button mat-raised-button color="primary" class="see-more-btn" (click)="showMoreCards = !showMoreCards">
      {{ showMoreCards ? 'Voir moins' : 'Voir plus' }}
    </button>
  </div>

 <div fxLayout="row wrap" class="card-container" *ngIf="showMoreCards">
    <div *ngFor="let card of cards.slice(5)" fxFlex="100" fxFlex.gt-xs="48" fxFlex.gt-sm="24" (click)="card.action ? WhatsAppUs(card.title) : null" [routerLink]="card.action ? null : card.routerLink">
      <div class="card" [ngClass]="card.cardClass">
        <span class="card-icon"><i [class]="card.icon"></i></span>
        <h3>{{ card.title }}</h3>
        <p>{{ card.content }}</p>
      </div>
    </div>
  </div>

  <div class="tabs">
    <button (click)="selectTab('historique')" [class.active]="selectedTab === 'historique'">
      <i class="fa-solid fa-history"></i> Historique des commandes
    </button>
    <button (click)="selectTab('favoris')" [class.active]="selectedTab === 'favoris'">
      <i class="fa-solid fa-heart"></i> Mes favoris
    </button>
  </div>
-->



  <div class="tab-content">
    <div class="historique">
    <!--  <div class="search-container" fxLayout="row" fxLayoutAlign="center center">
        <mat-form-field appearance="outline" class="w-100" style="max-width: 500px;">
          <mat-label>Rechercher</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Filtrer par produit, montant, quantité ou date" #input>
        </mat-form-field>
      </div>-->
      <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutGap="16px" *ngIf="taillesOrders > 0">
        <div *ngFor="let order of showMoreOrders ? dataSource.filteredData : orders.slice(0, 3)" fxFlex="100" fxFlex.gt-sm="32" class="historique-items">
          <div class="historique-item">
            <img [src]="order.produitImage" alt="Image Produit">
            <div>
              <p>{{ order.produitNom }}</p>
              <p>{{ order.montant | number }} F</p>
             <!-- <p>Quantité: {{ order.quantite }}</p>-->
            </div>
            <div class="status">
              <p [ngClass]="getStatusColor(order.statutCommande.name)">
                <ng-container [ngSwitch]="order.statutCommande.name">
                  <i *ngSwitchCase="'PENDING'" class="fa fa-truck"></i>
                  <i *ngSwitchCase="'VALIDE'" class="fa fa-check-circle"></i>
                  <i *ngSwitchCase="'CANCEL'" class="fa fa-times-circle"></i>
                </ng-container>
                {{ getStatusLabel(order.statutCommande.name) }}
              </p>
              <p>{{ order.dateCommande | date:'dd/MM/yyyy' }}</p>
              <button class="button-again" type="button" routerLink="/products" >Acheter à nouveau</button>
            </div>
          </div>
        </div>
      </div>

     <!-- <div class="see-more-container" *ngIf="!showMoreOrders && orders.length > 3">
        <button mat-raised-button  class="see-more-btn" (click)="toggleShowMore()">
          Voir plus d'historiques
        </button>
      </div> 

      <mat-paginator
       // *ngIf="showMoreOrders"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions"
        showFirstLastButtons
        aria-label="Select page of orders">
      </mat-paginator>
    -->
  </div>
   
     <div class="title-container">
      <h3>Mes favoris</h3>
      <p *ngIf="favorisProducts.length > 2" (click)="toggleShowMoreProduct()">
        {{ showMoreProduct ? 'Voir moins' : 'Voir plus' }}
      </p>
      
    </div>
<!--<hr class="section-separator">-->
    
    <div class="favoris">
      <div class="not-favoris" *ngIf="tailles === 0">
        Tu n'as pas en core de produit favoris
        <button  type="button"  routerLink="/products">Ajouter un produit</button>
      </div>

      <div fxLayout="row wrap" fxLayoutGap="10px" fxLayoutGap.gt-md="20px" *ngIf="tailles > 0">
        <div *ngFor="let product of (showMoreProduct ? favorisProducts : favorisProducts.slice(0, 4))"
             fxFlex="47" fxFlex.sm="31" fxFlex.gt-sm="23" fxFlex.gt-md="18" class="favoris-item">
          <app-product-card [product]="product" [pageName]="'account-customer'"></app-product-card>
        </div>
      </div>
    </div>
  </div>
</div>
