<div class="main-container">
  <div class="header">
    <div class="customer_account_logo" (click)="fileInput.click()">
      <input accept="image/*" #fileInput type="file" (change)="onFileSelected($event)" class="d-none">
      <img *ngIf="!currentUser.logo" [src]="defaultLogoUrl" class="profile-icon" alt="logo">
      <img *ngIf="currentUser.logo" [src]="'https://image.geotrac.io/minio/api/v1/view?bucket=ecommerce-bucket&file='+currentUser.logo" class="profile-icon" alt="logo">
      <img src="assets/images/icons/camera_icon.png" class="camera-icon" alt="...">
    </div>
    <h2>Gaoussou Diarra</h2>
  </div>
  <div fxLayout="row wrap" class="card-container">
    <div *ngFor="let card of cards" fxFlex="47" fxFlex.gt-xs="32" fxFlex.gt-sm="24">
      <div class="card" [ngClass]="card.cardClass" [routerLink]="card.routerLink">
        <span class="card-icon"><i [class]="card.icon"></i></span>
        <h3>{{ card.title }}</h3>
        <p>{{ card.content }}</p>
      </div>
    </div>
  </div>
  <div class="historique">
    <h3>Historique des commandes</h3>
    <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutGap="16px">
      <div *ngFor="let data of historiqueData" fxFlex="100" fxFlex.gt-sm="32">
        <div class="historique-item">
          <img [src]="data.image" alt="Image Produit">
          <div>
            <p>{{ data.name }}</p>
            <p>{{ data.price }}</p>
            <button>Acheter</button>
          </div>
          <div class="status">
            <p [ngClass]="data.color">{{ data.status }}</p>
            <p>{{ data.date }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
