$filter-sidenav-width: 250px;
$primary: #283593;
$warn: #d81b60;

.filter-sidenav {
  width: $filter-sidenav-width;
  border: 0 !important;

  .mat-expansion-panel-header-title {
    text-transform: uppercase;
    color: #000 !important;
  }

  .mat-accordion {
    display: block;
    width: 100%;

    @media (max-width: 960px) {
      transform: scale(.9);
    }
  }
}

.filter-row {
  background: #fff;
  padding: 4px 12px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.all-products {
  padding: 2px;
  overflow: hidden;

  &.p-left {
    padding-left: 16px;
  }
}

.categories-wrapper {
  position: relative;
  max-width: 200px;
}

.seller-products {
  margin: 0 2%;

  .mat-sidenav-container {
    height: 100% !important;
    min-height: 460px;
    overflow: hidden !important;

    .sidenav-content {
      margin-bottom: 10px;
      box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;

      &.categories {
        max-height: 285px;
        overflow: auto;
      }
    }
  }
}

.filter-price {
  .mat-mdc-slider {
    min-width: 40%;
  }
}

.card-image {
  width: 200px;
  height: 200px;
}

.divider {
  width: 120%;
  height: 2px;
  margin-left: -30px;
  margin-bottom: 15px;
  background-color: rgba(145, 145, 145, 0.1);
  border: none;
  border-bottom: 1px solid rgba(120, 120, 120, 0.1);
  border-radius: 5px;
}

.mat-mdc-menu-item {
  color: black !important;
}

////////////////////////// Seller Details ////////////////////////////
.seller-details {
  text-align: center;

  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;

    .logo {
      width: 120px;
      height: 120px;
      padding: 3px;
      border-radius: 50%;
      border: 2px solid #ccc;
    }

    @media (max-width: 500px) {
      .logo {
        width: 90px;
        height: 90px;
      }
      margin: 0;
      margin-top: 20px;
    }
  }

  .shopname-section {
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 500px) {
      margin: 0;
      margin-bottom: 10px;
    }

    .shop-name {
      font-size: 24px;
      font-weight: bold;
      margin-right: 5px;
    }

    button:focus mat-icon {
      color: $primary;
    }
  }

  .shop-description {
    text-align: start;
    font-family: "Montserrat", serif;

    @media (max-width: 500px) {
      font-size: 0.7em;
      line-height: normal;
    }
  }

  .description-head {
    height: 40px;
  }

  mat-expansion-panel {
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  }

  mat-expansion-panel,
  .seller-carousel {
    margin: 20px 6%;

    @media (max-width: 500px) {
      margin: 20px 2%;
    }
  }
}

////////////////////////// Seller Products ////////////////////////////
.products-wrapper {
  margin: 0 -8px;
  margin-bottom: 16px;

  .col {
    padding: 0 8px;
  }
}

//////////////////////// Load more feature ////////////////////////////
.load-more-wrapper {
  margin: 20px 0;
}
