<div class="seller-details">
  <div class="logo-container">
    <img [src]="(sellerInfo?.logo)?imgsLink+sellerInfo.logo:'../../../assets/images/icons/shop_icon.png'" alt="Shop Logo" class="logo" />
  </div>
  <h1 class="shop-name">{{sellerInfo?.nom||'Nom du boutique'}}</h1>
  <div class="seller-carousel">
    <app-seller-caroussel *ngIf="sellerInfo" [sellerBanners]="sellerBanners" [sellerId]="sellerId"></app-seller-caroussel>
  </div>


  <mat-expansion-panel *ngIf="sellerInfo?.description">
    <mat-expansion-panel-header class="description-head">
        À propos
    </mat-expansion-panel-header>
    <p class="shop-description">{{sellerInfo?.description}}</p>
  </mat-expansion-panel>
</div>


<div class="divider"></div>


<div class="seller-products" id="shop_now">
  <mat-sidenav-container>
    <mat-sidenav #sidenav [opened]="sidenavOpen" [mode]="sidenavOpen ? 'side' : 'over'" class="filter-sidenav">
      <!-- <ng-scrollbar pointerEventsMethod="scrollbar" visibility="hover"> -->
      <mat-accordion displayMode="flat" multi="true">
        <mat-expansion-panel class="sidenav-content categories" expanded>
          <mat-expansion-panel-header>
            <mat-panel-title> <h4>Categories</h4> </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="categories-wrapper">
            <ng-scrollbar pointerEventsMethod="scrollbar" [autoHeightDisabled]="false">
              <div class="category-checkbox">
                <mat-checkbox color="warn"
                  [checked]="isAllBoxSelected"
                  (change)="toggleAllCategories($event.checked)">
                  Tous
                </mat-checkbox>
              </div>

              <div *ngFor="let category of usedCategories" class="category-checkbox">
                <mat-checkbox color="primary"
                  [checked]="checkedCategories.includes(category.id)||isAllBoxSelected"
                  (change)="onCategoryChange($event.checked, category.id)">
                  {{ category.nom }}
                </mat-checkbox>
              </div>
            </ng-scrollbar>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel class="sidenav-content" expanded>
          <mat-expansion-panel-header>
            <mat-panel-title> <h4>Filtre de prix</h4> </mat-panel-title>
          </mat-expansion-panel-header>
          <div fxLayout="row" fxLayoutAlign="space-between center" *ngIf="(priceFrom<=250000) && (priceTo<=250000)">
            <span> De: <b>{{ priceFrom }} FCFA</b> </span>
            <span> À: <b>{{ priceTo }} FCFA</b> </span>
          </div>
          <div fxLayout="row" fxLayoutAlign="space-between center" *ngIf="(priceFrom<=250000) && (priceTo<=250000)" class="filter-price">
            <mat-slider color="primary" [step]="950" [max]="250000" [min]="100" thumb-label="true">
              <input matSliderThumb [(ngModel)]="priceFrom" (change)="filterProductsByPrice()"/>
            </mat-slider>
            <mat-slider color="warn" [step]="950" [max]="250000" [min]="100" thumb-label="true">
              <input matSliderThumb [(ngModel)]="priceTo" (change)="filterProductsByPrice ()"/>
            </mat-slider>
          </div>
          <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="4px" class="filter-price">
            <mat-form-field appearance="outline" class="price-input">
              <mat-label>Prix Min</mat-label>
              <input matInput type="number" [(ngModel)]="priceFrom" value="" (change)="filterProductsByPrice()" [min]="100"/>
            </mat-form-field>
            <mat-form-field appearance="outline" class="price-input">
              <mat-label>Prix Max</mat-label>
              <input matInput type="number" [(ngModel)]="priceTo" (change)="filterProductsByPrice()" [min]="priceFrom"/>
            </mat-form-field>
          </div>
          <div *ngIf="domHandlerService.window?.innerWidth<700">
            <h3>Lien du boutique</h3>
            <div fxLayout="row" fxLayoutAlign="space-between center" class="copy-container">
              <input matInput type="text" [value]="fullUrl" class="copy-input" #linkInput readonly>
              <mat-icon (click)="copyLink(linkInput)" *ngIf="!isCopied">content_copy</mat-icon>
              <mat-icon matSuffix *ngIf="isCopied">check</mat-icon>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
      <!-- </ng-scrollbar> -->
    </mat-sidenav>
    <mat-sidenav-content class="all-products" ngClass.gt-sm="p-left">
      <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center" class="filter-row">
        <div fxLayout="row" fxLayoutAlign="start center">
          <button *ngIf="!sidenavOpen" mat-icon-button (click)="sidenav.toggle()" class="toggle-button">
            <mat-icon class="icon-menu">menu</mat-icon>
          </button>
          <div>
            <a mat-button [matMenuTriggerFor]="sortMenu" #sortMenuTrigger="matMenuTrigger">
              {{ selectedSorting | translate }}
              <mat-icon class="mat-icon-sm caret" iconPositionEnd>arrow_drop_down</mat-icon>
            </a>
            <mat-menu #sortMenu="matMenu" xPosition="before" class="primary" overlapTrigger="true">
              <span>
                <button mat-menu-item *ngFor="let sort of sortings" (click)="changeSorting(sort)">
                  <span>{{ sort | translate }}</span>
                </button>
              </span>
            </mat-menu>
          </div>
          <a mat-button [matMenuTriggerFor]="countsMenu" #countsMenuTrigger="matMenuTrigger">
            {{ 'SHOW' | translate }} {{ viewCount }}
            <mat-icon class="mat-icon-sm caret" iconPositionEnd>arrow_drop_down</mat-icon>
          </a>
          <mat-menu #countsMenu="matMenu" xPosition="before" class="primary" overlapTrigger="true">
            <span (mouseleave)="countsMenuTrigger.closeMenu()">
              <button mat-menu-item *ngFor="let count of viewCounts" (click)="changeCount(count)">
                <span>{{ count }}</span>
              </button>
            </span>
          </mat-menu>
          <button matTooltip="Afficher par carreaux" mat-icon-button (click)="changeViewType(33.3)">
            <mat-icon>view_module</mat-icon>
          </button>
          <button matTooltip="Afficher par petit carreaux" mat-icon-button (click)="changeViewType(25)" *ngIf="domHandlerService.window?.innerWidth>350">
            <mat-icon>view_comfy</mat-icon>
          </button>
        </div>

        <div fxLayout="row" fxLayoutAlign="end center" class="copy-container" *ngIf="domHandlerService.window?.innerWidth>700">
          <h3>Lien</h3>&nbsp;&nbsp;
          <div fxLayout="row" class="copy-container">
            <input matInput type="text" [value]="fullUrl" class="copy-input" #linkInput readonly>
            <mat-icon (click)="copyLink(linkInput)" *ngIf="!isCopied">content_copy</mat-icon>
            <mat-icon matSuffix *ngIf="isCopied">check</mat-icon>
          </div>
        </div>
      </div>

      <div class="search-container">
        <div fxLayout="row" fxLayoutAlign="space-between center" class="shop-search">
          <input matInput [placeholder]="(sidenavOpen)?'Cherchez un produit, categorie...':'Produit, Categorie...'" autocomplete="off" class="search-input" [(ngModel)]="searchTerm"
          (input)="onSearchChange()" />
          <button class="search-btn" mat-icon-button matSuffix (click)="onSearchClick($event)">
            <mat-icon class="search-icon">search</mat-icon>
          </button>
        </div>
        <div class="suggestion-container" *ngIf="showSuggestions && suggestions.length > 0">
          <div class="suggestions-list" #suggestionsContainer>
              <ul>
                  <li *ngFor="let suggestion of suggestions" (click)="selectSuggestion(suggestion.item,suggestion.type)">
                      <mat-icon>search</mat-icon>
                      <span class="text-truncate" *ngIf="suggestion.type === 'product'"><b>Produit: </b> {{ suggestion.item.nom }}</span>
                      <span class="text-truncate" *ngIf="suggestion.type === 'category'"><b>Categorie: </b> {{ suggestion.item.nom }}</span>
                  </li>
              </ul>
          </div>
        </div>
      </div>

      <div fxLayout="row wrap" class="products-wrapper">
        <div *ngFor="let product of sellerProducts | paginate: { itemsPerPage: viewCount, currentPage: page }"
        [fxFlex]="(viewCol==25)?50:100" [fxFlex.gt-xs]="viewCol" class="col">
          <app-seller-product-card [product]="product" [viewCol]="viewCol"></app-seller-product-card>
        </div>
      </div>

      <div *ngIf="sellerProducts.length > 0" fxLayout="row wrap">
        <div fxFlex="100">
          <mat-card class="p-0 text-center">
            <pagination-controls class="product-pagination" previousLabel=" " nextLabel=" " [autoHide]="true" [maxSize]="3"
            (pageChange)="onPageChanged($event)">
            </pagination-controls>
          </mat-card>
        </div>
      </div>
      <div *ngIf="sellerProducts.length === 0" fxLayout="row wrap" class="products-wrapper">
        <div fxFlex="100" class="text-center">
          <p>Aucun produit trouvé, veuillez réessayer ultérieurement</p>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
