$filter-sidenav-width: 280px;
.filter-sidenav{
    width: $filter-sidenav-width;
    border: 0 !important;
    .mat-expansion-panel-header-title {
        text-transform: uppercase;
        color: #000 !important;
    }
    .mat-accordion {
        display: block;
        width: $filter-sidenav-width;
    }
}
.filter-row{
    background: #fff;
    padding: 4px 12px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}
.all-products{
    padding: 2px;
    overflow: hidden;
    &.p-left{
        padding-left: 16px;
    }
}

.categories-wrapper{
    position: relative;
    max-width: 200px;
}

.seller-products{
  margin: 0 2%;
  // min-height: 450px;
  .mat-sidenav-container {
    height: 100% !important;
    min-height: 460px;
    overflow: hidden !important;
    .sidenav-content{
      margin-bottom: 10px;
      box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
      &.categories{
        max-height: 285px;
        overflow: auto;
      }
    }
  }
}

// .filter-buttons{
//     button{
//         min-width: 36px;
//         margin: 0 6px 10px 0;
//         padding: 0;
//     }
// }

.filter-price{
    .mat-mdc-slider {
        min-width: 106px;
    }
}

.filter-brands{
    button{
        width: 66px;
        height: 44px;
        min-width: 66px;
        margin: 0 6px 10px 0;
        padding: 0px;
        overflow: hidden;
        img{
            width: 66px;
            height: 44px;
        }
    }
}
.card-image{
  width: 200px;
  height: 200px;

}
@media (min-width: 960px) {
  .icon-more_vert {
      display: block;
  }

  .toggle-button .icon-menu {
      display: none;
  }
}

// .product-item .title {
//   inline-size: 100% !important;
// }


.divider{
  width: 120%;
  height: 2px;
  margin-left: -30px;
  margin-bottom: 15px;
  background-color: rgba(145, 145, 145, 0.1);
  border: none;
  border-bottom: 1px solid rgba(120, 120, 120, 0.1);
  border-radius: 5px;
}

.mat-mdc-menu-item {
  color: black !important;
}

////////////////////////// Seller Details ////////////////////////////
.seller-details {
  text-align: center;

  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    .logo {
      width: 120px;
      height: 120px;
      padding: 3px;
      border-radius: 50%;
      border: 2px solid #ccc;
    }
  }

  .shop-name {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
  }

  .shop-description {
    text-align: start;
    font-family: "Montserrat" serif;
  }
  .description-head{
    height: 40px;
  }
  mat-expansion-panel{
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  }
  mat-expansion-panel, .seller-carousel{
    margin:20px 6%;
  }

}

////////////////////////// Seller Search //////////////////////////////
.search-container{
  width: 70%;
  position: relative;
  .shop-search {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px 15px 0px;
    width: 100%;
    .search-input {
      width: 100%;
      padding: 13px 15px;
      border: 1px solid #000;
      outline: none;
      border-radius: 10px;
      box-sizing: border-box;
      &:focus {
        outline: 1.5px solid #283593;
      }
    }
    .search-btn {
      position: absolute;
      top: 50%;
      right: 0;
      line-height: .5em;
      transform: translateY(-50%);
      cursor: pointer;
    }
  }

  .suggestion-container {
    position: absolute;
    top: 35px;
    width: 100%;
    max-height: 250px;
    overflow-y: auto;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    z-index: 9;
    border-radius: 5px;
    margin-top: 10px;
    border: 1px solid #e0e0e0;
    padding: 5px 0;
    box-sizing: border-box;
    .suggestions-list ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        display: flex;
        align-items: center;
        padding: 10px 15px;
        cursor: pointer;
        transition: background-color 0.3s ease, color 0.3s ease;
        mat-icon {
          transition: .2s;
          padding-right: 10px;
          color: #d81b60;
        }
        span {
          font-size: 14px;
          color: #333;
        }
        &:hover {
          background-color: #f5f5f5;
        }
        &:hover mat-icon {
          color: #283593;
        }
      }
    }
  }
}
////////////////////////// Seller Products ////////////////////////////
.products-wrapper {
  margin: 0 -8px;
  margin-bottom: 16px;
  .col{
      padding: 0 8px;
  }
}
//////////////////////// Copy Link ///////////////////////////////////
.copy-container {
  position: relative;
  margin-top: 5px;
  .copy-input {
    width: 100%;
    padding: 8px 35px 8px 8px;
    font-size: 13px;
    border: 1px solid #000;
    border-radius: 4px;
    color: #333;
    &:focus{
      outline: 1.5px solid #283593;
    }
  }
  mat-icon{
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    color: #283593;
    cursor:pointer;
    transition: color 0.3s ease;
    &:hover {
      color: #d81b60;
    }
  }
}

