<div fxLayout="row" fxLayoutAlign="space-between center" class="p-2 toolbar">
  <div fxLayout="row">
    <mat-button-toggle-group #controls="matButtonToggleGroup" appearance="legacy">
      <mat-button-toggle value="add" (click)="openUserDialog(null,'add')" [title]="'BTN.ADD'|translate">
        <mat-icon>person_add</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="search" [title]="'BTN.SEARCH'|translate">
        <mat-icon>search</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <form class="user-search" [class.show]="controls.value == 'search'">
    <mat-form-field class="user-search-input">
      <input matInput [placeholder]="'BTN.SEARCH'|translate" [(ngModel)]="searchText" name="search" autocomplete="off">
    </mat-form-field>
  </form>

  <div fxLayout="row" fxLayoutAlign="space-between center">
    <mat-button-toggle-group #viewType="matButtonToggleGroup" appearance="legacy" [value]="(isAboveSmSize$|async)?'table':'grid'">
      <mat-button-toggle value="grid">
        <mat-icon>view_module</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="list">
        <mat-icon>view_list</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle *ngIf="isAboveSmSize$|async" value="table">
        <mat-icon>view_headline</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
</div>

<div class="users-list">
  <!-- Grid View -->
  <div class="grid-list" *ngIf="viewType.value == 'grid'">
    <div *ngFor="let user of users | UserSearchPipe:searchText | paginate:{itemsPerPage:6,currentPage:page}" fxFlex="100" fxFlex.md="50" fxFlex.gt-md="33.3" class="p-2">
      <mat-card>
        <div class="bg-primary mat-primary" fxLayout="row" fxLayoutAlign="space-between center">
          <h3 *ngIf="user.enabled" class="user-name">{{user.firstname+' '+user.lastname|capitalCase}}</h3>
          <h3 *ngIf="!user.enabled" class="user-name">Utilisateur Inactif</h3>
          <button mat-icon-button [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger">
            <mat-icon>more_vert</mat-icon>
          </button>
        </div>
        <mat-menu #menu="matMenu" xPosition="before" overlapTrigger="true">
          <button mat-menu-item (click)="openUserDialog(user,'update')">
            <mat-icon>mode_edit</mat-icon>
            <span>{{'BTN.EDIT'|translate}}</span>
          </button>
          <button mat-menu-item (click)="deleteUser(user.id)">
            <mat-icon>delete</mat-icon>
            <span>{{'BTN.REMOVE'|translate}}</span>
          </button>
        </mat-menu>
        <div class="user-content" fxLayout="row" fxLayoutAlign="space-around center">
          <div fxFlex="30" fxLayout="column" fxLayoutAlign="center center">
            <div class="user-img">
              <img src="assets/images/profile/default-user.jpeg" class="transition-2" [class.blocked]="!user.enabled">
              <mat-icon *ngIf="!user.enabled" color="warn">block</mat-icon>
            </div>
            <div class="toggle-switch"
                 [class.active]="user.enabled"
                 [class.inactive]="!user.enabled"
                 (click)="toggleStatus(user.id, !user.enabled)">
              <div class="toggle-thumb"></div>
            </div>
          </div>
          <div fxFlex="70" fxLayout="column" class="user-details" [class.blocked]="!user.enabled">
            <p fxLayout="row" *ngIf="user.email" fxLayoutAlign="start center">
              <mat-icon class="text-muted">mail_outline</mat-icon>
              <span>{{user.email}}</span>
            </p>
            <p fxLayout="row" *ngIf="user.phoneNumber" fxLayoutAlign="start center">
              <mat-icon class="text-muted">call</mat-icon>
              <span>{{user.phoneNumber}}</span>
            </p>
            <p fxLayout="row" *ngIf="user.adresse" fxLayoutAlign="start center">
              <mat-icon class="text-muted">location_on</mat-icon>
              <span>{{user.adresse}}</span>
            </p>
            <p fxLayout="row" fxLayoutAlign="start center">
              <mat-icon class="text-muted">date_range</mat-icon>
              <span>{{"USER.MEMBER_SINCE"|translate}} {{user.createdAt | date:'yyyy-MM-dd'}}</span>
            </p>
          </div>
        </div>
      </mat-card>
    </div>
  </div>

  <!-- Table View -->
  <div class="table-list" *ngIf="viewType.value=='table' && isAboveSmSize$|async">
    <div class="table-scroll-wrapper">
      <div class="admin-table">
        <div class="header-row">
          <div class="header-cell fixed-width">Prénom <a (click)="sortUsers('firstname')"><mat-icon>swap_vert</mat-icon></a></div>
          <div class="header-cell fixed-width">Nom <a (click)="sortUsers('lastname')"><mat-icon>swap_vert</mat-icon></a></div>
          <div class="header-cell fixed-width">Nom utilisateur</div>
          <div class="header-cell fixed-width">Type <a (click)="sortUsers('type')"><mat-icon>swap_vert</mat-icon></a></div>
          <div class="header-cell fixed-width">Ville <a (click)="sortUsers('ville')"><mat-icon>swap_vert</mat-icon></a></div>
          <div class="header-cell fixed-width">Pays <a (click)="sortUsers('pays')"><mat-icon>swap_vert</mat-icon></a></div>
          <div class="header-cell fixed-width">Téléphone <a (click)="sortUsers('téléphone')"><mat-icon>swap_vert</mat-icon></a></div>
          <div class="header-cell fixed-width">Adresse <a (click)="sortUsers('adress')"><mat-icon>swap_vert</mat-icon></a></div>
          <div class="header-cell fixed-width">Membre depuis <a (click)="sortUsers('member_since')"><mat-icon>swap_vert</mat-icon></a></div>
          <div class="header-cell fixed-width text-center">Actions</div>
        </div>

        <div *ngFor="let user of (sortedUsers||users) | UserSearchPipe:searchText | paginate:{itemsPerPage:8,currentPage:page}" class="data-row">
          <div class="data-cell fixed-width">{{user.firstname}}</div>
          <div class="data-cell fixed-width">{{user.lastname}}</div>
          <div class="data-cell fixed-width">{{user.username}}</div>
          <div class="data-cell fixed-width" *ngFor="let profile of user.profiles">{{profile.name}}</div>
          <div class="data-cell fixed-width">{{user.ville}}</div>
          <div class="data-cell fixed-width">{{user.pays}}</div>
          <div class="data-cell fixed-width">{{user.phoneNumber}}</div>
          <div class="data-cell fixed-width">{{user.adresse}}</div>
          <div class="data-cell fixed-width">{{user.createdAt | date:'dd-MM-yyyy'}}</div>
          <div class="data-cell fixed-width">
            <div class="actions">
              <button mat-mini-fab color="success" (click)="reset(user.username)"><mat-icon>refresh</mat-icon></button>
              <button mat-mini-fab color="accent" (click)="openUserDialog(user,'update')"><mat-icon>edit</mat-icon></button>
              <button mat-mini-fab color=" #241f48" (click)="remove(user)"><mat-icon>delete</mat-icon></button>
              <div class="toggle-switch"
                   [class.active]="user.enabled"
                   [class.inactive]="!user.enabled"
                   (click)="toggleStatus(user.id, !user.enabled)">
                <div class="toggle-thumb"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Pagination -->
<div *ngIf="users" fxLayout="row wrap">
  <div fxFlex="100" class="p-2">
    <mat-card class="text-center">
      <pagination-controls [autoHide]="true" [previousLabel]="'PAGINATION.PREV_PAGE'|translate" [nextLabel]="'PAGINATION.NEXT_PAGE'|translate" [maxSize]="5" (pageChange)="onPageChanged($event)"></pagination-controls>
    </mat-card>
  </div>
</div>

<!-- Loader -->
<div *ngIf="!users" fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
  <mat-spinner color="primary"></mat-spinner>
</div>