<div fxLayout="row" fxLayoutAlign="space-between center" class="p-2">
    <div fxLayout="row">
        <mat-button-toggle-group #controls="matButtonToggleGroup" appearance="legacy">
            <mat-button-toggle value="add" (click)="openUserDialog(null,'add')" [title]="'BTN.ADD'|translate">
                <mat-icon>person_add</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle value="search" [title]="'BTN.SEARCH'|translate">
                <mat-icon>search</mat-icon>
            </mat-button-toggle>
        </mat-button-toggle-group>
    </div>
    <form class="user-search" [class.show]="controls.value == 'search'">
        <mat-form-field class="user-search-input">
            <input matInput [placeholder]="'BTN.SEARCH'|translate" [(ngModel)]="searchText" name="search" autocomplete="off">
        </mat-form-field>
    </form>
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <mat-button-toggle-group #viewType="matButtonToggleGroup" appearance="legacy" value="table">
            <mat-button-toggle value="grid">
                <mat-icon>view_module</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle value="list">
                <mat-icon>view_list</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle *ngIf="isAboveSmSize$|async" value="table">
                <mat-icon>view_headline</mat-icon>
            </mat-button-toggle>
        </mat-button-toggle-group>
    </div>
</div>

<div class="users-list">

  <div class="grid-list">
    <div *ngIf="viewType.value == 'grid'" fxLayout="row wrap">
        <div *ngFor="let user of users | UserSearchPipe : searchText | paginate: { itemsPerPage: 6, currentPage: page }" fxFlex="100" fxFlex.md="50" fxFlex.gt-md="33.3"  class="p-2">
            <mat-card fxFlex="100">
                <div class="bg-primary mat-primary" fxLayout="row" fxLayoutAlign="space-between center">
                    <h3 *ngIf="user.enabled" class="user-name">{{user.firstname+' '+user.lastname|capitalCase|roundName:(isAboveMdSize$|async)}}</h3>
                    <h3 *ngIf="!user.enabled" class="user-name">Utilisateur Inactif</h3>
                    <button mat-icon-button [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                  </div>
                <mat-menu #menu="matMenu" xPosition="before" overlapTrigger="true">
                    <span (mouseleave)="menuTrigger.closeMenu()">
                        <button mat-menu-item (click)="openUserDialog(user,'update')">
                            <mat-icon>mode_edit</mat-icon>
                            <span>{{'BTN.EDIT'|translate}}</span>
                        </button>
                        <button mat-menu-item (click)="deleteUser(user.id)">
                            <mat-icon>delete</mat-icon>
                            <span>{{'BTN.REMOVE'|translate}}</span>
                        </button>
                    </span>
                </mat-menu>
                <div class="user-content" fxLayout="row" fxLayoutAlign="space-around center">
                    <div fxFlex="30" fxLayout="column" fxLayoutAlign="center center">
                        <div class="user-img">
                            <!-- <img *ngIf="user.profile.image" [src]="user.profile.image" class="transition-2" [class.blocked]="user.settings.isDeleted"> -->
                            <img  src="assets/images/profile/default-user.jpeg" class="transition-2" [class.blocked]="user.enabled">
                            <mat-icon *ngIf="!user.enabled" color="warn">block</mat-icon>
                        </div>
                        <div class="user-social">
                            <!-- <mat-slide-toggle color="primary" [checked]="!user.enabled" (change)="user.enabled = !user.enabled"></mat-slide-toggle> -->
                            <mat-slide-toggle [color]="user.enabled ? 'primary' : 'warn'" [checked]="user.enabled" (change)="setStatus(user.id, $event)"></mat-slide-toggle>

                        </div>
                    </div>
                    <div fxFlex="70" fxLayout="column" class="user-details transition-2" [class.blocked]="!user.enabled">
                        <p fxLayout="row" *ngIf="user.email" fxLayoutAlign="start center">
                            <mat-icon class="text-muted mt-size">mail_outline</mat-icon>
                            <span>{{user.email}}</span>
                        </p>
                        <p fxLayout="row" *ngIf="user.phoneNumber" fxLayoutAlign="start center">
                            <mat-icon class="text-muted mt-size">call</mat-icon>
                            <span>{{user.phoneNumber}}</span>
                        </p>
                        <p fxLayout="row" *ngIf="user.adresse" fxLayoutAlign="start center">
                            <mat-icon class="text-muted mt-size">location_on</mat-icon>
                            <span>{{user.adresse}}</span>
                        </p>
                        <p fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="text-muted mt-size">date_range</mat-icon>
                            <span>{{"USER.MEMBER_SINCE"|translate}} {{user.createdAt | date:"MMMM, yyyy"}}</span>
                        </p>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>

  </div>

  <div *ngIf="viewType.value == 'list'" fxLayout="row wrap">
      <div *ngFor="let user of users | UserSearchPipe : searchText | paginate: { itemsPerPage: 6, currentPage: page }" fxFlex="100" class="p-2">
          <mat-card>
              <div class="bg-primary mat-primary" fxLayout="row" fxLayoutAlign="space-between center">
                  <h3 *ngIf="user.enabled" class="user-name">{{user.firstname|capitalCase}} {{user.lastname|capitalCase}}</h3>
                  <h3 *ngIf="!user.enabled" class="user-name">Utilisateur Inactif</h3>
                  <button mat-icon-button [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger">
                      <mat-icon>more_vert</mat-icon>
                  </button>
              </div>
              <mat-menu #menu="matMenu" xPosition="before"  overlapTrigger="true">
                  <span (mouseleave)="menuTrigger.closeMenu()">
                      <button mat-menu-item (click)="openUserDialog(user,'update')">
                          <mat-icon>mode_edit</mat-icon>
                          <span>{{"BTN.EDIT" |translate}}</span>
                      </button>
                      <button mat-menu-item (click)="deleteUser(user.id)">
                          <mat-icon>delete</mat-icon>
                          <span>{{"BTN.DELETE" |translate}}</span>
                      </button>
                      <mat-slide-toggle [color]="user.enabled ? 'primary' : 'warn'" [checked]="user.enabled" (change)="setStatus(user.id, $event)">
                        {{user.enabled ? 'Activée' : 'Désactivée' }}
                    </mat-slide-toggle>
                  </span>
              </mat-menu>
              <div class="user-content" fxLayout="row" fxLayoutAlign="space-around center">
                  <div fxFlex="20" fxFlex.xs="30" fxLayout="column" fxLayoutAlign="center center">
                      <div class="user-img">
                          <!-- <img *ngIf="user.profile.image" [src]="user.profile.image" class="transition-2" [class.blocked]="user.enabled"> -->
                          <img src="assets/images/profile/default-user.jpeg" class="transition-2" [class.blocked]="!user.enabled">
                          <mat-icon *ngIf="!user.enabled" color="warn">block</mat-icon>
                      </div>
                      <div class="user-social">
                          <!-- <mat-slide-toggle color="primary" [checked]="!user.enabled" (change)="user.enabled = !user.enabled">

                          </mat-slide-toggle> -->
                          <mat-slide-toggle [color]="user.enabled ? 'primary' : 'warn'" [checked]="user.enabled" (change)="setStatus(user.id, $event)"></mat-slide-toggle>

                      </div>
                  </div>
                  <div fxFlex="80" fxFlex.xs="70" fxLayout="row" fxLayout.xs="column" class="user-details transition-2" [class.blocked]="!user.enabled">
                      <div fxFlex="27" *ngIf="user.email" fxFlex.xs="100" fxLayout="column">
                          <p fxLayout="row" fxLayoutAlign="start center">
                              <mat-icon class="text-muted">mail_outline</mat-icon>
                              <span>{{user.email}}</span>
                          </p>
                          <p fxLayout="row" *ngIf="user.phoneNumber" fxLayoutAlign="start center">
                              <mat-icon class="text-muted">call</mat-icon>
                              <span>{{user.phoneNumber}}</span>
                          </p>
                      </div>
                      <div fxFlex="27" fxFlex.xs="100" fxLayout="column">
                          <p fxLayout="row" *ngIf="user.adresse" fxLayoutAlign="start center">
                            <mat-icon class="text-muted">location_on</mat-icon>
                            <span>{{user.adresse}}</span>
                          </p>
                          <p fxLayout="row" fxLayoutAlign="start center">
                              <mat-icon class="text-muted">event_available</mat-icon>
                              <span>{{"USER.MEMBER_SINCE"|translate}} {{user.createdAt | date:"MMMM, yyyy"}}</span>
                          </p>
                      </div>
                      <div fxFlex="26" fxFlex.xs="100" fxLayout="column" fxLayoutAlign=" center">
                        <p fxLayout="row" fxLayoutAlign="start center">
                          <mat-icon *ngIf="user.enabled" class="text-muted">person_outline</mat-icon>
                          <mat-icon *ngIf="!user.enabled" class="text-muted">person</mat-icon>
                          <span>{{ (!user.enabled) ? 'Inactive' : 'Active' }}</span>
                        </p>
                      </div>
                  </div>
              </div>
          </mat-card>
      </div>
  </div>

  <div class="table-list" *ngIf="isAboveSmSize$|async">
    <div *ngIf="viewType.value == 'table'" fxLayout="row wrap">
        <div  fxFlex="100"  class="p-2">
          <div class="mat-mdc-table admin-table">
            <div class="mat-mdc-header-row mat-toolbar mat-primary" >
            <!-- <div class="mat-mdc-header-row bg-primary" > -->
                <div class="mat-mdc-header-cell">{{"FIELD.FIRSTNAME" |translate}}</div>
                <div class="mat-mdc-header-cell">{{"FIELD.LASTNAME"|translate}}</div>
                <div class="mat-mdc-header-cell">{{"FIELD.USERNAME"|translate}}</div>
                <div class="mat-mdc-header-cell">Type </div>
                <div class="mat-mdc-header-cell">{{"USER.MEMBER_SINCE"|translate}}</div>
                <div class="mat-mdc-header-cell"></div>
            </div>
            <div *ngFor="let user of users | UserSearchPipe : searchText | paginate: { itemsPerPage: 8, currentPage: page }" class="mat-mdc-row">
                <div class="mat-mdc-cell border-black">{{ user.firstname|capitalCase }}</div>
                <div class="mat-mdc-cell">{{ user.lastname|capitalCase }}</div>
                <div class="mat-mdc-cell">{{ user.username }}</div>
                <div class="mat-mdc-cell" *ngFor="let profile of user.profiles">{{ profile.name | userType }}</div>
                <!-- <div class="mat-mdc-cell">{{ user.createdAt | date: "dd /MM /yy" }}</div> -->
                <div class="mat-mdc-cell">{{ user.createdAt | date: "dd-MM-yyyy" }}</div>
                <div class="mat-mdc-cell">
                  <div class="p-2 actions d-flex align-items-center">
                      <button mat-mini-fab color="accent" [matTooltip]="'BTN.EDIT'|translate" (click)="openUserDialog(user,'update')">
                          <mat-icon>edit</mat-icon>
                      </button>
                      <button mat-mini-fab color="warn" [matTooltip]="'BTN.REMOVE'|translate" class="mx-1" (click)="deleteUser(user.id)">
                          <mat-icon>delete</mat-icon>
                      </button>
                      <mat-slide-toggle [color]="user.enabled ? 'primary' : 'warn'" [checked]="user.enabled" (change)="setStatus(user.id, $event)">
                          <!-- {{user.enabled ? 'Activée' : 'Désactivée' }} -->
                      </mat-slide-toggle>
                  </div>
              </div>

        </div>
        </div>
    </div>

  </div>

</div>

<div *ngIf="users" fxLayout="row wrap">
    <div fxFlex="100" class="p-2">
        <mat-card class="text-center">
            <pagination-controls class="product-pagination" [autoHide]="true" [previousLabel]="'PAGINATION.PREV_PAGE'|translate" [nextLabel]="'PAGINATION.NEXT_PAGE'|translate" [maxSize]="5" (pageChange)="onPageChanged($event)"></pagination-controls>
        </mat-card>
    </div>
</div>

<div *ngIf="!users" fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
    <mat-spinner color="primary"></mat-spinner>
</div>

