.account-sidenav{
    width: 280px;
    padding: 2px;
    a {
        width: 100%;
        place-content: flex-start;
        font-weight: 500;
        height: 42px;
    }
}
.account-content{
    min-height: 410px;
    padding: 2px;
    overflow: hidden;
    &.p-left{
        padding-left: 16px;
    }
    .header-row{
        background: #fff;
        padding: 0 16px;
        height: 56px;
    }
    .account-wrapper{
        margin-top: 16px;
        padding: 16px;
        background: #fff;
    }
}

.icon-more_vert {
  display: none;
}

.toggle-button .icon-menu {
  display: block;
}

.seller_account_profile{
box-shadow: none;
text-align: center;
justify-content: center;
align-items: center;
width: 100%;
box-shadow: rgba(99, 99, 99, 0.3) 0px 1px 10px 0px;
}

.seller_account_logo{
  width: 120px;
  height: 120px;
  position:relative;
  margin: 10px 0px 10px 0px;
  border: 2px dashed #aaa;
  border-radius: 50%;
  padding: 5px 5px 0px 5px;
  cursor: pointer;

  .profile-icon{
    width: 99%;
    height: 96%;
    border-radius: 50%;
    object-fit: cover;
    display: grid;
    align-items: center;
    justify-content: center;
    transition: all 0.05s ease;
  }

  &:hover .profile-icon {
    filter: contrast(60%);
  }

  .camera-icon{
    position: absolute;
    bottom: 0;
    right: 0;
    border: 4px solid white;
    background-color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: transform 0.03s ease;
  }

  &:hover .camera-icon {
    transform: scale(1.05);
  }
}

.shopname-section {
  // margin: 5px 0;
  display: flex;
  align-items: center;
  justify-content: center;

  button:focus mat-icon {
    color: #25224a;
  }
}

.blue{
  background-color: #25224a;
  color: white;
}
.warne{
  background-color: #d81b60 !important;
  color: white;
}

@media (min-width: 960px) {
  .icon-more_vert {
      display: block;
  }

  .toggle-button .icon-menu {
      display: none;
  }
}

@media only screen and (max-width: 600px) {
  .auth{
      white-space: normal;
  }
}
