<div class="container">
  <h2>Teste de qualité d'image</h2>

  <form [formGroup]="imgForm" (ngSubmit)="analyzeImages()" autocomplete="off" class="text-center">
    <div>
      <h3 matTooltip="Insérer les images à analyser" >Images</h3>
      <input-file formControlName="images" [fileLimit]="500" fileAccept="image/*"></input-file>
    </div>

    <div>
      <h3>Resolution </h3>
      <div class="resolution-group full-width">
        <mat-form-field appearance="outline">
          <mat-label>Min Width</mat-label>
          <input matInput type="number" formControlName="minWidth" placeholder="e.g., 1024" />
        </mat-form-field>
        <span>X</span>
        <mat-form-field appearance="outline">
          <mat-label>Min Height</mat-label>
          <input matInput type="number" formControlName="minHeight" placeholder="e.g., 768" />
        </mat-form-field>
      </div>
    </div>

    <!-- Analyze Button -->
    <button mat-raised-button color="primary" type="submit" >
      Analyze Images
    </button>

  </form>

  <!-- Results -->
  <div class="results-section">
    <h3>Logics/Calculs de determination:</h3>
    <mat-card>
      <div>
        <pre>Qualité :</pre>
        <pre>1. Luminosité : 70 < mesurée < 190</pre>
        <pre>2. Contraste : mesuré > 30</pre>
        <pre>3. Résolution : atteint la minimale choisie</pre>
      </div>
    </mat-card>
  </div>
</div>
