<div>
  <div class="desktop-header bg-primary" fxFlex="100" fxShow="false" fxShow.gt-xs="true">
    <mat-toolbar color="primary" id="header-toolbar">
      <mat-toolbar-row fxLayoutAlign="space-between center" class="top-toolbar bg-primary">
        <span fxShow="false" fxShow.gt-xs fxLayoutAlign="center center">
          <mat-icon>call</mat-icon>Fixe: (+223) 76 00 79 79
        </span>
        <app-top-menu></app-top-menu>
      </mat-toolbar-row>
      <mat-toolbar-row fxLayoutAlign="space-between center" class="logo-toolbar bg-primary">
        <div fxFlex="20">
          <a class="logo" routerLink="/" (click)="closeSubMenus()">
            <img src="./assets/images/logo_fidelity.png" alt="logo_fidelity" />
            <span fxShow.xs="false" fxShow.sm="false">&nbsp;&nbsp;Fidelity</span>
          </a>
        </div>
        <div fxFlex fxShow="false" fxShow.gt-xs>
          <form (submit)="onSearch($event)" class="search-form" fxLayout="row">
            <button mat-raised-button [matMenuTriggerFor]="categoriesMenu" #categoriesMenuTrigger="matMenuTrigger"type="button" class="mat-elevation-z0 categories">
              {{ category?.nom }}<mat-icon iconPositionEnd>arrow_drop_down</mat-icon>
            </button>
            <mat-menu #categoriesMenu="matMenu" [overlapTrigger]="false" xPosition="before"class="categories-dropdown">
              <span (mouseleave)="categoriesMenuTrigger.closeMenu()">
                <app-category-list [categories]="categories" (change)="changeCategory($event)"></app-category-list>
              </span>
            </mat-menu>
            <div class="search-bar" fxFlex>
              <input type="text" [formControl]="searchTerm" placeholder="Rechercher un produit" name="query" autocomplete="off" fxFlex />
              <button mat-mini-fab type="submit" class="search-btn mat-elevation-z0 text-muted">
                <mat-icon>search</mat-icon>
              </button>
            </div>
          </form>
          <div class="suggestion-container" *ngIf="showSuggestions && suggestions.length > 0">
            <div class="suggestions-list" #suggestionsContainer>
              <ul>
                <li *ngFor="let suggestion of suggestions" (click)="selectSuggestion(suggestion.item,suggestion.type)">
                  <mat-icon>search</mat-icon>
                  <span *ngIf="suggestion.type === 'product'"><b>Produit: </b>{{ suggestion.item.nom}}</span>
                  <span *ngIf="suggestion.type === 'category'"><b>Categorie: </b>{{ suggestion.item.nom}}</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="cart-container" [routerLink]="['/cart']">
          <span class="cart-count">{{ this.totalPanier }}</span>
          <button mat-icon-button matTooltip="Mon panier">
            <mat-icon>shopping_cart</mat-icon>
          </button>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
    <!-- <app-menu fxShow="false" fxShow.gt-sm></app-menu> -->
    <mat-toolbar fxShow="false" fxShow.gt-sm id="menu-toolbar" class="top-navbar mat-elevation-z2" fxLayoutAlign="center center">
      <a *ngFor="let category of navCategories" mat-button [routerLink]="['/categories', category.cle]" routerLinkActive="horizontal-active-link" [routerLinkActiveOptions]="{exact:true}">{{ category.nom }}</a>
    </mat-toolbar>
  </div>


  <div class="mobile-header bg-primary" fxFlex="100" fxShow="false" fxShow.xs="true" fxShow.lt.xs="true">
    <div color="primary" class="bg-primary" id="header-toolbar">
      <div fxLayoutAlign="center center" class="header-container logo-toolbar bg-primary">
        <div fxFlex fxFlex="15" class="header-item">
          <a class="logo" routerLink="/" (click)="closeSubMenus()">
            <img src="./assets/images/logo_fidelity.png" alt="logo_fidelity" />
          </a>
        </div>
        <div fxFlex fxFlex="70" class="header-item">
          <p class="fid_amber-color header-slogan">Avec Fidelity on Gagne Toujours</p>
        </div>
        <div fxFlex fxFlex="15" class="header-item btns">
          <!-- <mat-icon (click)="sidenav.toggle()" class="menu-icon">menu</mat-icon> -->
          <div class="cart-wrapper" fxLayout="row" fxLayoutAlign="center center">
            <div class="cart-container" [routerLink]="['/cart']">
              <span class="cart-count">{{ totalPanier }}</span>
              <button mat-icon-button matTooltip="Mon panier" class="cart-button">
                <mat-icon>shopping_cart</mat-icon>
              </button>
            </div>
            <app-top-menu></app-top-menu>
          </div>
        </div>
      </div>
      <div class="carousel-container">
        <app-main-carousel></app-main-carousel>
      </div>
      <div class="categories-container">
        <div class="more_link">
          <a [routerLink]="'/categories'">Voir toutes les catégories <mat-icon>chevron_right</mat-icon></a>
        </div>
        <div class="category-item" fxFlex="97" fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="10px">
          <a *ngFor="let category of navCategories" [matTooltip]="category.nom" routerLink="/categories/{{category.cle}}" fxFlex="20" fxLayout="column" fxLayoutAlign="center center">
            <img [src]="category.icon||'assets/icons/nav categories/broken_img.png'" alt="{{ category.cle }}">
            <span class="fid_amber-color" >{{ category.nom}}</span>
          </a>
        </div>
      </div>
      <div fxLayoutAlign="space-between center" class="search-container">
        <div fxFlex="85" class="search-content">
          <form (submit)="onSearch($event)" class="search-form" fxLayout="row">
            <div class="search-bar" fxFlex>
              <input type="text" [formControl]="searchTerm" placeholder="Rechercher un produit" name="query" autocomplete="off" fxFlex />
              <button mat-mini-fab type="submit" class="search-btn mat-elevation-z0 text-muted">
                <mat-icon>search</mat-icon>
              </button>
            </div>
          </form>
          <div *ngIf="showSuggestions && suggestions.length > 0" class="suggestions-list" #suggestionsContainer>
            <ul>
              <li *ngFor="let suggestion of suggestions" (click)="selectSuggestion(suggestion.item,suggestion.type)">
                <mat-icon>search</mat-icon>
                <span *ngIf="suggestion.type === 'product'">
                  <b>Produit:</b>{{ suggestion.item.nom }}
                </span>
                <span *ngIf="suggestion.type === 'category'">
                  <b>Categorie:</b>{{ suggestion.item.nom }}
                </span>
              </li>
            </ul>
          </div>
        </div>
        <div class="search-content" fxFlex="15">
          <button mat-icon-button [matMenuTriggerFor]="sortMenu" #sortMenuTrigger="matMenuTrigger"><img src="assets/icons/filter.png" alt="filter"></button>
          <mat-menu #sortMenu="matMenu" xPosition="before" class="primary" overlapTrigger="true">
            <span>
              <button mat-menu-item *ngFor="let filter of filterItems" (click)="changeFilter(filter)">
                <span>{{ sort | translate }}</span>
              </button>
            </span>
          </mat-menu>
        </div>
      </div>
    </div>
  </div>
</div>
