$filter-sidenav-width: 280px;
.main-container{
  @media screen and (max-width: 430px) {
    margin-bottom: 50px;
  }
  .filter-sidenav {
    width: $filter-sidenav-width;
    border: 0 !important;

    .mat-expansion-panel-header-title {
      text-transform: uppercase;
      color: #000 !important;
    }

    .mat-accordion {
      display: block;
      width: $filter-sidenav-width;

      @media (max-width: 960px) {
        transform: scale(.9);
      }
    }
  }

  .filter-row {
    background: #fff;
    padding: 4px 12px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  }

  .all-products {
    padding: 2px;
    overflow: hidden;

    &.p-left {
      padding-left: 16px;
    }
  }

  .products-wrapper {
    margin: 0 -8px;

    .col {
      padding: 8px;
    }
  }

  .categories-wrapper {
    position: relative;
    height: 300px;
  }

  .filter-price {
    .mat-mdc-slider {
      min-width: 106px;
    }
  }

  .price_section {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  }

  .card-image {
    width: 200px;
    height: 200px;
  }

  ////////////////////////// Seller Search //////////////////////////////
  .search-container {
    width: 70%;
    position: relative;

    .shop-search {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 10px 0px 15px 0px;
      width: 100%;

      .search-input {
        width: 100%;
        padding: 13px 15px;
        border: 1px solid #000;
        outline: none;
        border-radius: 10px;
        box-sizing: border-box;

        &:focus {
          outline: 1.5px solid #283593;
        }
      }

      .search-btn {
        position: absolute;
        top: 50%;
        right: 0;
        line-height: .5em;
        transform: translateY(-50%);
        cursor: pointer;
      }
    }

    .suggestion-container {
      position: absolute;
      top: 35px;
      width: 100%;
      max-height: 250px;
      overflow-y: auto;
      background-color: #fff;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
      z-index: 9;
      border-radius: 5px;
      margin-top: 10px;
      border: 1px solid #e0e0e0;
      padding: 5px 0;
      box-sizing: border-box;

      .suggestions-list ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          display: flex;
          align-items: center;
          padding: 10px 15px;
          cursor: pointer;
          transition: background-color 0.3s ease, color 0.3s ease;

          mat-icon {
            transition: .2s;
            padding-right: 10px;
            color: #d81b60;
          }

          span {
            font-size: 14px;
            color: #333;
          }

          &:hover {
            background-color: #f5f5f5;
          }

          &:hover mat-icon {
            color: #283593;
          }
        }
      }
    }
  }
}

//////////////////////// Load more feature ////////////////////////////
.load-more-wrapper {
  display: flex;
  justify-content: center;
  // margin: 20px 0;

  a {
    color: #0056b3;
    text-decoration: none;
    cursor: pointer;

    &:focus,
    &:hover {
      color: #283593;
      text-decoration: underline;
    }
  }
}
