<div fxLayout="row wrap" fxLayoutGap="16px grid">

  <!-- Commandes en attente -->
  <div fxFlex="1 1 calc(33.33% - 16px)">
    <mat-card class="card orange-card clickable" (click)="goToOrders('pending')">
      <div class="card-header">
        <div class="icon-circle white-bg">
          <mat-icon>shopping_cart</mat-icon>
        </div>
        <div class="card-count">{{ totalOrders || '0' }}</div>
      </div>
      <div class="card-body">
        <h3>Commandes en attente</h3>
        <p>Montant: {{ totalMontantOrders || '0' }} Fcfa</p>
      </div>
    </mat-card>
  </div>

  <!-- Commandes validées -->
  <div fxFlex="1 1 calc(33.33% - 16px)">
    <mat-card class="card dark-card clickable" (click)="goToOrders('delivered')">
      <div class="card-header">
        <div class="icon-circle white-bg">
          <mat-icon>check_circle</mat-icon>
        </div>
        <div class="card-count">{{ totalOrdersMensuelles || '0' }}</div>
      </div>
      <div class="card-body">
        <h3>Commandes validées</h3>
        <p>Montant: {{ totalMontantMensuelles || '0' }} Fcfa</p>
      </div>
    </mat-card>
  </div>

  <!-- Commandes livrées -->
  <div fxFlex="1 1 calc(33.33% - 16px)">
    <mat-card class="card orange-card clickable" (click)="goToOrders('delivered')">
      <div class="card-header">
        <div class="icon-circle white-bg">
          <mat-icon>local_shipping</mat-icon>
        </div>
        <div class="card-count">{{ venteTotal || '0' }}</div>
      </div>
      <div class="card-body">
        <h3>Commandes livrées</h3>
        <p>Montant: {{ montantVenteTotal || '0' }} Fcfa</p>
      </div>
    </mat-card>
  </div>

  <!-- Commandes annulées -->
  <div fxFlex="1 1 calc(33.33% - 16px)">
    <mat-card class="card dark-card clickable" (click)="goToOrders('cancelled')">
      <div class="card-header">
        <div class="icon-circle white-bg">
          <mat-icon>cancel</mat-icon>
        </div>
        <div class="card-count">{{ venteTotalMensuel || '0' }}</div>
      </div>
      <div class="card-body">
        <h3>Commandes annulées</h3>
        <p>Montant: {{ montantTotalMensuel || '0' }} Fcfa</p>
      </div>
    </mat-card>
  </div>

  <!-- Ventes du mois -->
  <div fxFlex="1 1 calc(33.33% - 16px)">
    <mat-card class="card orange-card">
      <div class="card-header">
        <div class="icon-circle white-bg">
          <mat-icon>show_chart</mat-icon>
        </div>
        <div class="card-count">{{ venteTotalMensuel || '0' }}</div>
      </div>
      <div class="card-body">
        <h3>Ventes du mois</h3>
        <p>Montant: {{ montantTotalMensuel || '0' }} Fcfa</p>
      </div>
    </mat-card>
  </div>

  <!-- Ventes totales -->
  <div fxFlex="1 1 calc(33.33% - 16px)">
    <mat-card class="card dark-card">
      <div class="card-header">
        <div class="icon-circle white-bg">
          <mat-icon>equalizer</mat-icon>
        </div>
        <div class="card-count">{{ venteTotalMensuel || '0' }}</div>
      </div>
      <div class="card-body">
        <h3>Ventes totales</h3>
        <p>Montant: {{ montantTotalMensuel || '0' }} Fcfa</p>
      </div>
    </mat-card>
  </div>
  <!-- PRODUITS totaux -->
  <div fxFlex="1 1 calc(33.33% - 16px)">
    <mat-card class="card orange-card ">
      <div class="card-header">
        <div class="icon-circle white-bg">
          <mat-icon>inventory</mat-icon>
        </div>
        <div class="card-count">{{ venteTotalMensuel || '0' }}</div>
      </div>
      <div class="card-body">
        <h3>Produits totaux</h3>
        <p>Montant: {{ montantTotalMensuel || '0' }} Fcfa</p>
      </div>
    </mat-card>
  </div>
    <!-- Produit actifs -->
  <div fxFlex="1 1 calc(33.33% - 16px)">
    <mat-card class="card dark-card">
      <div class="card-header">
        <div class="icon-circle white-bg">
          <mat-icon>power_settings_new</mat-icon>
        </div>
        <div class="card-count">{{ venteTotalMensuel || '0' }}</div>
      </div>
      <div class="card-body">
        <h3>Produits Actifs</h3>
        <p>Montant: {{ montantTotalMensuel || '0' }} Fcfa</p>
      </div>
    </mat-card>
  </div>
    <!-- Visite du mois -->
  <div fxFlex="1 1 calc(33.33% - 16px)">
    <mat-card class="card orange-card">
      <div class="card-header">
        <div class="icon-circle white-bg">
        <mat-icon>search</mat-icon>
        </div>
        <div class="card-count">{{ visitesMois || '0' }}</div>
      </div>
      <div class="card-body">
        <h3>Visites du mois</h3>
        <p>Total des visites ce mois-ci</p>
      </div>
    </mat-card>
  </div>
</div>
<div fxLayout="row wrap" #resizedDiv></div>