<div fxLayout="row wrap">
    <div fxFlex="50" fxFlex.xl="16.6" fxFlex.lg="20"  fxFlex.md="33.3" fxFlex.sm="33.3" class="p-2">
        <mat-card class="gradient-green tile p-2">
            <mat-icon>shopping_cart</mat-icon>
            <h2>{{products?.length}}</h2>
            <p>Produits </p>
        </mat-card>
    </div>
    <div fxFlex="50" fxFlex.xl="16.6" fxFlex.lg="20" fxFlex.md="33.3" fxFlex.sm="33.3" class="p-2">
        <mat-card class="gradient-red tile p-2">
            <mat-icon>check_circle</mat-icon>
            <h2>{{ totalActif }}</h2>
            <p>Produits actifs</p>
        </mat-card>
    </div>
   <!-- <div fxFlex="50" fxFlex.xl="16.6" fxFlex.lg="16.6" fxFlex.md="33.3" fxFlex.sm="33.3" class="p-2">
        <mat-card class="gradient-orange tile p-2">
            <mat-icon>group</mat-icon>
            <h2>14280</h2>
            <p>users</p>
        </mat-card>
    </div>  -->
    <div fxFlex="50" fxFlex.xl="16.6" fxFlex.lg="20" fxFlex.md="33.3" fxFlex.sm="33.3" class="p-2">
      <mat-card class="gradient-pink tile p-2">
          <!-- <mat-icon>gr</mat-icon> -->
          <div class="icon-container">
            <mat-icon class="icon-base">group</mat-icon>
            <mat-icon class="icon-overlay">cancel</mat-icon>
        </div>
          <h2>{{vendeurInActif}}</h2>
          <p>Vendeurs inactifs</p>
      </mat-card>
  </div>
    <div fxFlex="50" fxFlex.xl="16.6" fxFlex.lg="20" fxFlex.md="33.3" fxFlex.sm="33.3" class="p-2">
      <mat-card class="gradient-orange tile p-2">
        <mat-icon>group</mat-icon>
        <!-- Afficher la somme des utilisateurs avec le rôle ROLE_PARTICULIER et ROLE_BOUTIQUE -->
        <h2>{{userBoutique?.length}}</h2>
        <p>Boutiques</p>
      </mat-card>
    </div>
    <div fxFlex="50" fxFlex.xl="16.6" fxFlex.lg="20" fxFlex.md="33.3" fxFlex.sm="33.3" class="p-2">
      <mat-card class="gradient-orange tile p-2">
        <mat-icon>group</mat-icon>
        <!-- Afficher la somme des utilisateurs avec le rôle ROLE_PARTICULIER et ROLE_BOUTIQUE -->
        <h2>{{userParticulier?.length}}</h2>
        <p>Particuliers</p>
      </mat-card>
    </div>

    <div fxFlex="50" fxFlex.xl="16.6" fxFlex.lg="20" fxFlex.md="33.3" fxFlex.sm="33.3" class="p-2">
        <mat-card class="gradient-pink tile p-2">
            <mat-icon>cancel</mat-icon>
            <h2>{{totalInActif}}</h2>
            <p>Produits inactifs</p>
        </mat-card>
    </div>



    <div fxFlex="50" fxFlex.xl="16.6" fxFlex.lg="20" fxFlex.md="33.3" fxFlex.sm="33.3" class="p-2">
        <mat-card class="gradient-gray tile p-2">
            <mat-icon>star</mat-icon>
             <h2>{{best?.length}}</h2>

            <p>Meilleurs produits</p>
        </mat-card>
    </div>
    <div fxFlex="50" fxFlex.xl="16.6" fxFlex.lg="20" fxFlex.md="33.3" fxFlex.sm="33.3" class="p-2">
        <mat-card class="gradient-brown tile p-2">
            <mat-icon>access_time</mat-icon>
            <h2>{{totalViews}}</h2>
            <p>Visites par jour</p>
        </mat-card>
    </div>
    <div fxFlex="50" fxFlex.xl="16.6" fxFlex.lg="20" fxFlex.md="33.3" fxFlex.sm="33.3" class="p-2">
      <mat-card class="gradient-brown tile p-2">
          <mat-icon>date_range</mat-icon>
          <h2>{{totalViewsMonth}}</h2>
          <p>Visites par mois</p>
      </mat-card>
  </div>
  <div fxFlex="50" fxFlex.xl="16.6" fxFlex.lg="20" fxFlex.md="33.3" fxFlex.sm="33.3" class="p-2 d-flex align-items-center">
    <mat-card class="gradient-brown tile p-2">
        <mat-icon>event_note</mat-icon>
        <h2>{{totalViewsYear}}</h2>
        <p>Visites par an</p>
    </mat-card>
</div>
</div>
