.overflow-auto i {
  font-size: 25px;
  margin: 0 10px;
}

.product-contact {
  width: 100%;
  .like-btn {
    position: relative;
    right: 0;
    cursor: pointer;
    align-items: center;
  }

  .like-icon {
    color: #d81b60;
    font-size: 20px;
    // transition: color 0.3s ease;
    @media screen and (max-width: 420px) {
      font-size: 15px;
    }
    // @media screen and (max-width: 380px) {
    //   font-size: 13px;
    // }
    @media screen and (max-width: 370px) {
      font-size: 13px;
    }
  }

  .like-icon.filled {
    display: none;
    position: relative;
    left: 0;
  }
  // .like-icon.liked {
  //   display: inline;
  // }
  // .like-icon:not(.liked) {
  //   color: gray;
  //   display: inline; /* Default visible icon */
  // }

  .buy-btn{
    padding: 0 10px;
    height: 30px;
    color: #25224a;
  }

}
