<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" class="text-muted">
    <div *ngIf="product?.quantite > 0 && (type=='all' || type=='wish')">
        <bdi fxLayout="row" fxLayoutAlign="start center">
            <span *ngIf="type!='wish'" class="fw-500">Quantity:</span>
            <button mat-icon-button matTooltip="Remove" (click)="decrement()"><mat-icon>remove</mat-icon></button>
            <span> {{count}} </span>
            <button mat-icon-button matTooltip="Add" (click)="increment()"><mat-icon>add</mat-icon></button>
        </bdi>
    </div>
    <div class="product-contact">
      <button matTooltip="Ajouter au panier" *ngIf="pageName !='cart'" mat-raised-button class="bg-fid_amber mr-2 buy-btn" (click)="addToCart(product)">
        Ajouter <mat-icon>shopping_cart</mat-icon>
      </button>
      <span *ngIf="pageName !='cart'" class="like-btn" (click)="toggleLike(product)">
        <i class="fa-regular fa-heart like-icon" [style.display]="product?.isFavorite ? 'none' : 'inline-block'"></i>
        <i class="fa-solid fa-heart like-icon filled" [style.display]="product?.isFavorite ? 'inline-block' : 'none'"></i>
      </span>
      <span *ngIf="product?.campagne?.type" class="campagne">{{ promo(product.campagne.type) }}</span> 
    </div>
</div>
