.overflow-auto i {
  font-size: 25px; /* Définir la taille de la police */
  margin: 0 10px; /* Ajouter une marge horizontale de 5 pixels autour de chaque icône */
}

.rose{
  background-color: #c54896;
  color: white;
}