<!-- <div class="p-2">
    <mat-card> -->
      <!-- <div fxLayout="row wrap" fxLayoutAlign="end center" class="w-100 p-3">
        <button mat-raised-button class="bleu mr-2" matTooltip="Générer un code" (click)="openDialog()">
          Générer un code
        </button>
        <button mat-raised-button color="warn" matTooltip="Créer un Parrainage" (click)="add()">
          Créer une campagne
        </button>
      </div> -->

      <!-- <mat-divider></mat-divider> -->
      <!-- <div class="mat-mdc-table admin-table">
        <div class="mat-mdc-header-row">
          <div class="mat-mdc-header-cell">Nom</div>
          <div class="mat-mdc-header-cell">Type promo</div>
          <div class="mat-mdc-header-cell">Montant Max</div>
          <div class="mat-mdc-header-cell">Montant Mini</div>
          <div class="mat-mdc-header-cell">Status</div>
          <div class="mat-mdc-header-cell">Actions</div>
        </div>
        <div *ngFor="let campagne of campagnes | paginate: { itemsPerPage: count, currentPage: page }"
          class="mat-mdc-row">
          <div class="mat-mdc-cell" (click)="openCampagneAllCode(campagne.id)">{{campagne.nom}}</div>
          <div class="mat-mdc-cell">{{promo(campagne.typePromo)}}</div>
          <div class="mat-mdc-cell">{{campagne.montantMaxAchat || 'N/A'}}</div>
          <div class="mat-mdc-cell">{{campagne.montantMinAchat}}</div>
          <div class="mat-mdc-cell">
            <mat-slide-toggle [color]="campagne.active == true ? 'primary' : 'warn'" [checked]="campagne.active == true"
              (change)="setStatus(campagne.id, $event)">
            </mat-slide-toggle>
          </div>
          <div class="mat-mdc-cell">
            <div class="p-2 actions">
              <button mat-mini-fab class="bleu" matTooltip="Détail" (click)="openCampagneDetail(campagne)">
                <mat-icon>remove_red_eye</mat-icon>
              </button>
              <button mat-mini-fab color="accent" matTooltip="Modifier" (click)="edit(campagne.id)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-mini-fab color="primary" matTooltip="Supprimer" (click)="remove(campagne)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>


        </div>

      </div> -->

    <!-- </mat-card> -->

    <!--::::::::::::::::::::::::::::::::::::::::::::::::::::-->
    <!--:::::::::::::::::::::::::::::::::::::::::::::::::::: TEMPLATE FOR GENERATE CODE-->
    <!--::::::::::::::::::::::::::::::::::::::::::::::::::::-->
    <ng-template #generateCodeTemplate>
      <h1 mat-dialog-title>Générer un code</h1>
      <div mat-dialog-content>
        <!-- <p>Entrez les détails pour recharger votre compte.</p> -->
        <form [formGroup]="form" (ngSubmit)="generate()" autocomplete="off">
          <div mat-dialog-content>
            <div fxLayout="row wrap">

              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Campagne</mat-label>
                <mat-select formControlName="campagne" required>
                  <mat-option *ngFor="let campagne of campagnes" [value]="campagne.id">
                    <span>{{campagne.nom}}</span>
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="form.controls.campagne.errors?.required">La campagne est obligatoire</mat-error>
              </mat-form-field>

              <!--
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Type de promo</mat-label>
                <mat-select formControlName="typePromo" required>
                  <mat-option *ngFor="let typepromo of typePromo" [value]="typepromo.id">
                    <span>{{promo(typepromo.name)}}</span>
                  </mat-option>
                </mat-select>
              </mat-form-field>
             -->


            </div>
          </div>
          <div mat-dialog-actions>
            <div fxLayout="row" fxLayoutAlign="space-between center" class="w-100">
              <button mat-raised-button color="warn" type="button" (click)="onNoClick()">Annuler</button>

              <button mat-raised-button class="bleu" type="submit">Générer</button>
            </div>
          </div>
        </form>
      </div>
    </ng-template>


    <!--::::::::::::::::::::::::::::::::::::::::::::::::::::-->
    <!--:::::::::::::::::::::::::::::::::::::::::::::::::::: TEMPLATE TO SEE GENERATE CODE-->
    <!--::::::::::::::::::::::::::::::::::::::::::::::::::::-->

    <ng-template #codeGenerer>
      <h1 mat-dialog-title>Votre code généré</h1>
      <div mat-dialog-content>
        <div
          style="border-radius: 5px;background-color: rgb(206, 201, 201);color: black; padding: 2%; display: flex; justify-content: space-between;">
          <strong style="font-size: 30px;text-transform: uppercase;font-family: 'Times New Roman', Times, serif;">{{
            monCode }}</strong>
          <mat-icon mat-button (click)="copyCodeToClipboard()" style="cursor: pointer;">file_copy</mat-icon>
        </div>

      </div>
    </ng-template>

    <!--::::::::::::::::::::::::::::::::::::::::::::::::::::-->
    <!--:::::::::::::::::::::::::::::::::::::::::::::::::::: TEMPLATE FOR CAMPAGNE DETAILS-->
    <!--::::::::::::::::::::::::::::::::::::::::::::::::::::-->

    <ng-template #detailsCampagne>

      <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="w-100 p-3">
        <h1 mat-dialog-title>{{ detailsCampagneData.nom }}</h1>
        <button mat-raised-button class="bleu mr-2" matTooltip="Voir le code"
          (click)="openCampagneAllCode(detailsCampagneData.id)">Voir le code</button>
      </div>
      <div mat-dialog-content>
        <mat-card-content class="pt-3">
          <table class="mat-elevation-z2 w-100">
            <tr>
              <th>Nom de la campagne</th>
              <td>{{ detailsCampagneData.nom }}</td>
            </tr>
            <tr>
              <th>Type de promotion</th>
              <td>{{ promo(detailsCampagneData.typePromo)}}</td>
            </tr>

            <tr *ngIf="detailsCampagneData.typePromo == 'OFFRE_BIENVENUE'">
              <th>Type d'offre</th>
              <td>{{ detailsCampagneData.typeOffre}}</td>
            </tr>
            <tr *ngIf="detailsCampagneData.typePromo == 'OFFRE_BIENVENUE' && detailsCampagneData.typeOffre == 'CADEAUX'">
              <th>Les cadeaux offerts</th>
              <td>{{ detailsCampagneData.cadeauxProduit}}</td>
            </tr>



            <tr>
              <th>Réduction en %</th>
              <td>{{ detailsCampagneData.reduction || 'N/A' }}</td>
            </tr>
            <tr>
              <th>Montant minimum d'achat</th>
              <td>{{ detailsCampagneData.montantMinAchat }}</td>
            </tr>
            <tr>
              <th>Montant maximum d'achat</th>
              <td>{{ detailsCampagneData.montantMaxAchat }}</td>
            </tr>
            <tr>
              <th>Nombre d'utilisation</th>
              <td>{{ detailsCampagneData.nombreUtilisation || 'N/A' }}</td>
            </tr>

            <tr>
              <th>Date de début</th>
              <td>{{ detailsCampagneData.dateDebut }}</td>
            </tr>
            <tr>
              <th>Date de fin</th>
              <td>{{ detailsCampagneData.dateFin }}</td>
            </tr>
            <tr>
              <th>Description</th>
              <td>{{ detailsCampagneData.description }}</td>
            </tr>
          </table>
        </mat-card-content>
      </div>
    </ng-template>

    <!--::::::::::::::::::::::::::::::::::::::::::::::::::::-->
    <!--:::::::::::::::::::::::::::::::::::::::::::::::::::: TEMPLATE FOR ALL CODE OF CAMPAGNE -->
    <!--::::::::::::::::::::::::::::::::::::::::::::::::::::-->

    <ng-template #allCodeGenerer>
      <h1 mat-dialog-title>Les codes générés</h1>
      <div mat-dialog-content *ngIf="allCodesCampagne!=null">
        <div *ngFor="let code of allCodesCampagne"
          style="margin: 2%; border-radius: 5px;background-color: rgb(206, 201, 201);color: black; padding: 2%; display: flex; justify-content: space-between;">

          <p>Date: {{ code.dateCreation | date:'d MMMM y à HH:mm' }}</p>

          <strong style="font-size: 30px;text-transform: uppercase;font-family: 'Times New Roman', Times, serif;">
            {{code.code}}</strong>
          <mat-icon mat-button (click)="copyCodeToClipboard2(code.code)" style="cursor: pointer;">file_copy</mat-icon>
          <mat-icon mat-button (click)="removeCode(code)" style="cursor: pointer; color: red;">delete</mat-icon>
        </div>
      </div>
      <div style="text-align: center;" mat-dialog-content *ngIf="allCodesCampagne == ''">
        <strong>Vous n'avez pas de codes généré pour cette campagne </strong>
      </div>
    </ng-template>

  <!-- </div> -->
  <!-- <div fxLayout="row wrap">
    <div fxFlex="100">
      <mat-card class="text-center">
        <pagination-controls class="product-pagination" [autoHide]="true" [maxSize]="5"
          (pageChange)="onPageChanged($event)"></pagination-controls>
      </mat-card>
    </div>
  </div> -->








  <div class="campaign" fxLayout="column" fxLayoutGap="24px">
    <!-- Header and Create Button -->
    <div class="campaign__header" fxLayout="row" fxLayoutAlign="space-between center">
      <h2>Mes campagnes</h2>
      <a class="campaign__create-button" [routerLink]="''">
        <i class="fa-solid fa-plus"></i>
        Créer une campagne
      </a>
    </div>

    <!-- Campaign Types -->
    <section class="campaign__types">
      <h3>Types de campagnes</h3>
      <div class="campaign__types-list" fxLayout="row wrap">
        <div *ngFor="let type of campaignTypes" class="campaign__type-card" [class.active]="selectedCampaign === type"
          fxFlex="47.8" fxFlex.gt-xs="32" fxFlex.gt-sm="24" (click)="selectCampaign(type)" >
          <div class="campaign__type-header">
            <div class="campaign__icon-circle">
              <i *ngIf="type.icon.length > 2" [class]="type.icon"></i>
              <span *ngIf="type.icon.length <= 2">{{ type.icon }}</span>
            </div>
            <button class="campaign__plus-button" (click)="onAddCampaign(type.type); $event.stopPropagation()">
              <i class="fa-solid fa-plus"></i>
            </button>
          </div>
          <div class="campaign__type-info">
            <div class="campaign__type-title">{{ type.title }}</div>
            <div class="campaign__type-desc">{{ type.desc }}</div>
          </div>
        </div>
      </div>
    </section>

    <!-- Campaign Details -->
    <div *ngIf="selectedCampaign" class="campaign__details">
      <div class="campaign__details-header" (click)="isOpen = !isOpen">
        <div class="campaign__icon-circle">
          <i *ngIf="selectedCampaign.icon.length > 2" [class]="selectedCampaign.icon"></i>
          <span *ngIf="selectedCampaign.icon.length <= 2">{{ selectedCampaign.icon }}</span>
        </div>
        <div class="campaign__details-info">
          <div class="campaign__details-title">{{ selectedCampaign.title }}</div>
          <div class="campaign__details-desc">{{ selectedCampaign.desc }}</div>
        </div>
        <div class="campaign__accordion-icon">
          <i class="fas fa-chevron-down" [ngClass]="{ 'rotate': isOpen }"></i>
        </div>
      </div>
      <div class="campaign__details-content" [ngClass]="{ 'open': isOpen }">
        <p><strong>Objectif:</strong> {{ selectedCampaign.objective }}</p>
        <p><strong>Comment ça marche:</strong></p>
        <ul>
          <li *ngFor="let step of selectedCampaign.steps">
            <span>{{ step }}</span>
          </li>
        </ul>
        <p><strong>Avantages:</strong></p>
        <ul>
          <li *ngFor="let advantage of selectedCampaign.advantages">
            <span>{{ advantage }}</span>
          </li>
        </ul>
      </div>
    </div>

    <!-- Active Campaigns List -->
    <section class="campaign__active-list">
      <h3>Mes campagnes actives</h3>
      <div class="campaign__active-items" fxLayout="row wrap">
        <div *ngFor="let campaign of campaigns.slice(0, loadIndex)"
          class="campaign__active-item" fxFlex.xs="100" fxFlex.gt-sm="49" >
          <div class="campaign__icon-circle" [ngClass]="campaign.type">
            <i *ngIf="getCampaignIcon(campaign.type).length > 2" [class]="getCampaignIcon(campaign.type)"></i>
            <span *ngIf="getCampaignIcon(campaign.type).length < 3">{{ getCampaignIcon(campaign.type) }}</span>
          </div>
          <div class="campaign__info" fxFlex>
            <div class="campaign__title">{{ campaign.title }}</div>
            <div class="campaign__value">Valeur : {{ campaign.value }}</div>
            <div class="campaign__description">{{ campaign.info }}</div>
          </div>
          <label class="campaign__switch">
            <input type="checkbox" [checked]="campaign.active" (change)="onToggleCampaign(campaign)">
            <span class="campaign__slider" [ngClass]="campaign.type"></span>
          </label>
          <button class="campaign__edit-button" (click)="onEditCampaign(campaign)">
            <i class="fa-solid fa-pen"></i>
          </button>
        </div>
      </div>
    </section>

    <!-- Load More Button -->
    <div class="campaign__load-more" fxLayoutAlign="center" *ngIf="campaigns.length > loadIndex">
      <button class="campaign__load-more-button" (click)="onLoadMore()">
        Voir plus <i class="fa-solid fa-chevron-right"></i>
      </button>
    </div>
  </div>

