$filter-sidenav-width: 250px;
$primary: #283593;
$warn: #d81b60;

.filter-sidenav {
  width: $filter-sidenav-width;
  border: 0 !important;

  .mat-expansion-panel-header-title {
    text-transform: uppercase;
    color: #000 !important;
  }

  .mat-accordion {
    display: block;
    width: 100%;

    @media (max-width: 960px) {
      transform: scale(.9);
    }
  }
}

.filter-row {
  background: #fff;
  padding: 4px 12px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.all-products {
  padding: 2px;
  overflow: hidden;

  &.p-left {
    padding-left: 16px;
  }
}

.categories-wrapper {
  position: relative;
  max-width: 200px;
}

.products-container {
  margin: 0 2%;
  @media only screen and (max-width: 430px) {
    margin-bottom: 50px;
  }

  .mat-sidenav-container {
    height: 100% !important;
    min-height: 460px;
    overflow: hidden !important;

    .sidenav-content {
      margin-bottom: 10px;
      box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;

      &.categories {
        max-height: 285px;
        overflow: auto;
      }
    }
  }
}

.filter-price {
  .mat-mdc-slider {
    min-width: 40%;
  }
}

.card-image {
  width: 200px;
  height: 200px;
}

.divider {
  width: 120%;
  height: 2px;
  margin-left: -30px;
  margin-bottom: 15px;
  background-color: rgba(145, 145, 145, 0.1);
  border: none;
  border-bottom: 1px solid rgba(120, 120, 120, 0.1);
  border-radius: 5px;
}

.mat-mdc-menu-item {
  color: black !important;
}

////////////////////////// Products ////////////////////////////
.products-wrapper {
  margin: 0 -8px;
  // margin-bottom: 16px;

  .col {
    padding: 0 8px;
  }
}
