<mat-card *ngIf="product" class="product-item modern-card">
  <div class="item-image">
    <mat-chip-listbox *ngIf="product.campagne&&product.campagne.type == 'PROMOTION'">
      <mat-chip-option color="warn" highlighted selectable="false">-{{product.campagne.reduction}}% OFF</mat-chip-option>
    </mat-chip-listbox> 
      <!--  <mat-chip-listbox *ngIf="product.pricePromotion&&product.pricePromotion!=product.priceBasic">
      <mat-chip-option color="warn" highlighted selectable="false">-{{product.priceBasic|discount: product.pricePromotion}}% OFF</mat-chip-option>
    </mat-chip-listbox> -->

    <a [routerLink]="['/products', product.id, product.nom]" (click)="setProductViewCount(product.id)" class="image-link" [ngStyle]="secondView ? { height: '200px' } : {}">
      <img [alt]="'Product Image'" class="card-image" (error)="onImageError($event)" (load)="onImageLoad($event)" [src]="'assets/images/logo_fidelity.gif'">
    </a>
  </div>

  <div class="item-content">
    <!-- <h4 class="category text-truncate">
      {{ product.categorieNom }}
    </h4> -->
    <a [routerLink]="['/products', product.id, product.nom]" class="title text-truncate">
      {{ product.nom }} 
      
    </a>
    
    <div class="price-section">
      <p *ngIf="!product.pricePromotion||product.pricePromotion==product.priceBasic" class="price-basic">
        {{ product.priceBasic | number : '1.0-2' }} FCFA
      </p>
      <p *ngIf="product.pricePromotion&&product.pricePromotion!=product.priceBasic" class="price-promotion text-truncate">
        {{ product.pricePromotion | number : '1.0-2' }} FCFA
        <span class="original-price">
          {{ product.priceBasic | number : '1.0-2' }} F
        </span>
      </p>
    </div>
    <div class="delivery-state">
      <p>Livraison gratuite</p>
    </div>
    <!-- <div class="divider"></div> -->
    <div class="icons">
      <app-controls [product]="product"></app-controls>
    </div>
  </div>
</mat-card>
