<mat-card>
  <mat-form-field appearance="outline" class="w-100">
    <mat-label>Sélectionner une année</mat-label>
    <mat-select [formControl]="selectedYear" (selectionChange)="filterByYear()">
      <mat-option *ngFor="let year of availableYears" [value]="year">
        {{ year }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-card-header fxLayoutAlign="center">
    <mat-card-title>Visite mensuelles</mat-card-title>
  </mat-card-header>

  <mat-card-content class="pt-2">
    <div class="w-100 h-300p">
      <ngx-charts-line-chart
        [results]="analytics"
        [scheme]="colorScheme"
        [xAxis]="true"
        [yAxis]="true"
        [legend]="false"
        xAxisLabel="Mois"
        yAxisLabel="Montant (FCFA)"
        (select)="onSelect($event)">
      </ngx-charts-line-chart>
    </div>
  </mat-card-content>
</mat-card>
