<div id="steps-container">
  <ul>
    <li *ngFor="let step of steps; let i = index"
    [class.active]="currentStep === i"
    (click)="scrollToStep(i)">
      <!-- Left side: Progress Bar with steps -->
      <div class="tutorial-progress">
        <span>{{ i + 1 }}</span>
      </div>
      <!-- Right side: Videos and Descriptions -->
      <div class="tutorial-content" id="tutorial-content">
        <div [attr.id]="'step' + i">
          <h2>{{ step.title }}</h2>
          <iframe width="560" height="315" [src]="step.videoUrl" frameborder="0" allowfullscreen></iframe>
              <p>{{ step.description }}</p>
        </div>
      </div>
    </li>
  </ul>
</div>

