<h1 mat-dialog-title class="text-center">{{ isUpdateMode ? 'Modifier brand' : 'Ajouter brand' }}</h1>

<!-- Affichage du message de succès -->


<!-- Formulaire -->
<form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
  <div mat-dialog-content>
    <div fxLayout="row wrap">
      <!-- Champ caché pour l'ID du brand -->
      <input type="hidden" formControlName="id">

      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Libelle</mat-label>
        <input matInput formControlName="libelle" required>
        <mat-error *ngIf="form.get('libelle').hasError('required')">Libelle est obligatoire</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Description</mat-label>
        <input matInput formControlName="description" required>
        <mat-error *ngIf="form.get('description').hasError('required')">Description est obligatoire</mat-error>
      </mat-form-field>


      <mat-dialog-content *ngIf="showSuccessMessage" class="form-container">
        <p>{{ isUpdateMode ? 'Brand modifié avec succès' : 'Brand ajoutée avec succès' }}</p>
      </mat-dialog-content>


      <div class="py-1">
        <mat-label>Logo</mat-label>
        <input type="file" formControlName="logo" (change)="onFileSelected($event)" accept="logo/*">
        <mat-error *ngIf="form.get('logo').hasError('required')">Logo est obligatoire</mat-error>
      </div>
    </div>
  </div>

  <div mat-dialog-actions>
    <div fxLayout="row" fxLayoutAlign="space-between center" class="w-100">
      <button mat-raised-button color="warn" type="button" (click)="dialogRef.close()">Close</button>
      <button mat-raised-button color="primary" type="submit">{{ isUpdateMode ? 'Modifier' : 'Ajouter' }}</button>
    </div>
  </div>
</form>
