<app-main-carousel fxShow="false" fxShow.gt-xs="true"></app-main-carousel>

<div class="products-container">
  <div class="home-section">
    <h2>Nouveautés</h2>

    <div class="subcategory-carousel" *ngIf="subCategories">
      <div class="swiper-container" [swiper]="SubCategoryConfig">
        <div class="swiper-wrapper">
          <div *ngFor="let subCategory of subCategories;" class="swiper-slide">
            <div class="subcategory-item" [class.selected]="subCategory.id == selectedSubCategory.id" (click)="onSubCategoryClick(subCategory)">
              <span>{{subCategory.nom}}</span>
            </div>
          </div>
        </div>
        <mat-icon class="swiper-button-prev swipe-arrow subcategory-prev">keyboard_arrow_left</mat-icon>
        <mat-icon class="swiper-button-next swipe-arrow subcategory-next">keyboard_arrow_right</mat-icon>
      </div>
    </div>

    <div class="products-carousel with-sub" *ngIf="newArrivalsProducts">
      <div class="swiper-container " [swiper]="ProductConfig">
        <div class="swiper-wrapper">
          <div *ngFor="let product of newArrivalsProducts" class="swiper-slide">
            <app-product-card  [product]="product"></app-product-card>
          </div>
        </div>
      </div>
      <div class="more-item">
        <a routerLink="/categories">Voir plus <mat-icon matIconSuffix>keyboard_arrow_right</mat-icon></a>
      </div>
    </div>
  </div>

  <div class="home-section" *ngIf="productPromoLength > 0">
    <h2>Promo</h2>
    <div class="products-carousel">
      <div class="swiper-container " [swiper]="ProductConfig">
        <div class="swiper-wrapper">
          <div *ngFor="let product of promoProducts" class="swiper-slide">
            <app-product-card [product]="product"></app-product-card>
          </div>
        </div>
      </div>
      <div class="more-item">
        <a routerLink="/promo">Voir plus <mat-icon matIconSuffix>keyboard_arrow_right</mat-icon></a>
      </div>
    </div>
  </div>

  <div class="home-section" *ngIf="topRateProducts">
    <h2>Tendances</h2>
    <div class="products-carousel">
      <div class="swiper-container " [swiper]="ProductConfig">
        <div class="swiper-wrapper">
          <div *ngFor="let product of topRateProducts" class="swiper-slide">
            <app-product-card  [product]="product"></app-product-card>
          </div>
        </div>
        <!-- <button mat-icon-button class="swiper-button-prev swipe-arrow"><mat-icon>keyboard_arrow_left</mat-icon></button>
        <button mat-icon-button class="swiper-button-next swipe-arrow"><mat-icon>keyboard_arrow_right</mat-icon></button> -->
      </div>
      <div class="more-item">
        <a routerLink="/categories">Voir plus <mat-icon matIconSuffix>keyboard_arrow_right</mat-icon></a>
      </div>
    </div>
  </div>


</div>

<app-brands-carousel></app-brands-carousel>