<div class="faq-container">
  <h1 class="text-center">FAQ</h1>
  <details class="faq-item">
    <summary class="question">Comment vendre sur Fidelity ?</summary>
      <ul class="response">
        <li>      Créer un compte gratuitement ici si vous n'en disposez pas qui sera valider par l'administrateur.
        </li>
        <li>      Apres la validation de votre compte vous aurez votre dashboard pour gerer vos produits.
        </li>
        <li>Pour publier vos produits sur le site vous devez choisir un type de forfait : Mensuel ou par annonce</li>
        <li>  Une annonce parfaite est considérée comme ayant un titre approprié, une description claire, le prix et des images de l'article.

          Votre annonce sera publiée une fois le processus de modération terminé.</li>
      </ul>




</details>

<details class="faq-item">
  <summary class="question">Quels sont les modes de paiement acceptés ?</summary>
  <ul class="response">
   <li> Nous acceptons les paiements par carte de crédit, Orange money et mobicash.</li></ul>
</details>

  <details class="faq-item">
      <summary class="question">Quelle est la politique de retour ?</summary>
      <ul class="response"> <li>Vous pouvez retourner les articles dans les 30 jours suivant l'achat, à condition qu'ils soient dans leur état d'origine.</li> </ul>
  </details>

  <details class="faq-item">
    <summary class="question">Comment contacter un vendeur</summary>
    <ul class="response">
      <li>Fidelity est une plateforme de petite annonce en ligne et qui permet de mettre en relation le vendeur et acheteur.</li>
    <li>Pour acheter, vous pouvez contacter directement le vendeur de différentes manières :
      <ul>
        <li>WhatsApp - Cliquez sur l'icône WhatsApp disponible dans chaque annonce. Il ouvrira votre application WhatsApp avec le numéro du vendeur.</li>
        <li>Utilisez l'icône telephone si vous souhaitez appeler directement le vendeur.</li>
        <li>Utilisez l'icône sms si vous souhaitez envoyer de sms au vendeur.</li>
      </ul>
    </li>


    </ul>
</details>
</div>
