.button_add{
  background-color: #feb930;
  color: #feb930;
}
.delete{
  background-color: red;
}
.view{
  background-color: #c54896;
  color: white;
}
.warn{
  background-color: #241f48 !important;
  color: #fff !important;
}