<div class="container">










  <!-- Mobile Title Section with Back Button -->
  <div class="settings-header">
    <button class="back-button" mat-icon-button>
      <i class="fa-solid fa-gear"></i>
      <i *ngIf="" class="fa-solid fa-arrow-left"></i>
    </button>
    <h2>Paramètres</h2>
  </div>

  <!-- Desktop Dropdown (Hidden on Mobile) -->
  <!-- <div class="desktop-selector" fxHide.xs fxShow> -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-select [(value)]="selectedTab" (selectionChange)="onTabChange($event)">
        <mat-select-trigger>
          <i *ngIf="selectedTab" class="fa-solid fa-{{ getSelectedIcon() }}"></i>
          {{ getSelectedLabel() }}
        </mat-select-trigger>
        <mat-option *ngFor="let tab of tabs" [value]="tab.value">
          <i class="fa-solid fa-{{ tab.icon }}"></i> {{ tab.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  <!-- </div> -->

  <!-- Mobile Settings Options List (Hidden on Desktop) -->
  <!-- <div class="settings-list" fxShow fxHide.gt-xs>
    <div [class]="'settings-item ' + (selectedTab === tab.value ? 'active' : '')"
      *ngFor="let tab of tabs" (click)="handleTabClick(tab.value)">
      <div class="icon-container">
        <i class="fa-solid fa-{{ tab.icon }}"></i>
      </div>
      <div class="item-content">
        <div class="item-label">{{ tab.label }}</div>
        <div class="item-sublabel">{{ tab.sublabel }}</div>
      </div>
      <div class="arrow-icon">
        <i class="fa-solid fa-chevron-right"></i>
      </div>
    </div>
  </div> -->












  <!-- <mat-form-field appearance="outline" class="full-width">
    <mat-select [(value)]="selectedTab" (selectionChange)="onTabChange($event)">
      <mat-select-trigger>
        <i *ngIf="selectedTab" class="fa-solid fa-{{ getSelectedIcon() }}"></i>
        {{ getSelectedLabel() }}
      </mat-select-trigger>
      <mat-option *ngFor="let tab of tabs" [value]="tab.value">
        <i class="fa-solid fa-{{ tab.icon }}"></i> {{ tab.label }}
      </mat-option>
    </mat-select>
  </mat-form-field> -->


  <form [formGroup]="infoForm" (ngSubmit)="onInfoFormSubmit(infoForm.value)" class="form-container">
    <div *ngIf="selectedTab === 'general'" class="informations" fxLayout="row flex-wrap">
      <mat-form-field appearance="outline" class="full-width" fxFlex.xs="100" fxFlex.gt-xs="48.6" fxFlex.gt-md="49">
        <mat-label>Prénom</mat-label>
        <input matInput formControlName="firstname" required />
        <mat-error *ngIf="infoForm.controls.firstname.errors?.required">Le prénom est obligatoire</mat-error>
        <mat-error *ngIf="infoForm.controls.firstname.hasError('minlength')"> Le prénom n'est pas assez long, minimum 3 caractères</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width" fxFlex.xs="100" fxFlex.gt-xs="48.6" fxFlex.gt-md="49">
        <mat-label>Nom</mat-label>
        <input matInput formControlName="lastname" required />
        <mat-error *ngIf="infoForm.controls.lastname.errors?.required">Le nom est obligatoire</mat-error>
        <mat-error *ngIf="infoForm.controls.lastname.hasError('minlength')">Le nom n'est pas assez long, minimum 3 caractères</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width" fxFlex.xs="100" fxFlex.gt-xs="48.6" fxFlex.gt-md="49">
        <mat-label>Téléphone</mat-label>
        <input matInput formControlName="phoneNumber" required />
        <mat-error *ngIf="infoForm.controls.phoneNumber.errors?.required">Le numéro de contact est obligatoire</mat-error>
        <mat-error *ngIf="infoForm.controls.phoneNumber.hasError('minlength')">Le numéro n'est pas assez long, minimum 8 caractères</mat-error>
        <mat-error *ngIf="infoForm.controls.phoneNumber.hasError('maxlength')">Le numéro est trop long, maximum 8 caractères</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width" fxFlex.xs="100" fxFlex.gt-xs="48.6" fxFlex.gt-md="49">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" />
        <mat-error *ngIf="infoForm.controls.email.errors?.pattern">Adresse mail invalide</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="country-select" fxFlex="33.6">
        <mat-label>Pays</mat-label>
        <mat-select formControlName="country" required (selectionChange)="handleCountryChange($event)">
          <mat-option *ngFor="let country of countries" [value]="country.id">
            {{ country.nom }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width" fxFlex.xs="100" fxFlex.gt-xs="48.6" fxFlex.gt-md="49">
        <mat-label>Ville</mat-label>
        <input matInput formControlName="city" />
      </mat-form-field>

      <div class="button-container" fxFlex>
        <button mat-raised-button class="submit-btn" type="submit">Enregistrer <mat-icon>arrow_forward</mat-icon></button>
      </div>
    </div>


    <div *ngIf="selectedTab === 'appearance'" class="apparence" fxLayout="row flex-wrap">
      <mat-form-field appearance="outline" class="full-width" fxFlex.xs="100" fxFlex.gt-xs="48.6" fxFlex.gt-md="49">
        <mat-label>Nom de la boutique</mat-label>
        <input matInput formControlName="boutiqueName" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width" fxFlex.xs="100" fxFlex.gt-xs="48.6" fxFlex.gt-md="49">
        <mat-label>Description courte de la boutique (70 caractères max)</mat-label>
        <textarea
          matInput
          formControlName="description"
          maxlength="70"
          rows="2"
        ></textarea>
        <mat-hint align="end">
          {{ infoForm.get('description')?.value?.length || 0 }}/70
        </mat-hint>
      </mat-form-field>

      
      <!--<mat-form-field appearance="outline" class="full-width" fxFlex.xs="100" fxFlex.gt-xs="48.6" fxFlex.gt-md="49">
        <mat-label>Description courte de la boutique (70 mots max)</mat-label>
        <textarea matInput (keypress)="onDescriptionInput($event)" (input)="updateDescriptionWordCount($event)" formControlName="description" rows="2"></textarea>
        <mat-hint> <span>{{ wordCount }}/{{ maxWords }}</span> <i></i></mat-hint>
      </mat-form-field> -->

      <div fxFlex="100">
        <label>Ajouter un logo pour plus de visibilité:</label>
        <input-file
        formControlName="logo"
        [fileLimit]="1"
        fileAccept="image/*"
        (acceptedFile)="onLogoAccepted($event)">
      </input-file>
      
      </div>
      
      <!--<div fxFlex="100">
        <label>Ajouter un logo pour plus de visibilité:</label>
        <input-file formControlName="logo" [fileLimit]="1" fileAccept="image/*"></input-file>
      </div> -->

      <!-- <div fxFlex="100">
        <label>Ajouter jusqu'à 3 bannières :</label>
        <div fxLayoutGap="10px">
          <input-file containerFlex="32" formControlName="banners" [fileLimit]="3" fileAccept="image/*"></input-file>
        </div>
        //<mat-hint>Max 2 Mo par image</mat-hint> -
      </div>
    -->

    <div
    class="button-container double-btn"
    fxFlex="100"
    fxLayout="row"
    fxLayout.xs="column"
    fxLayoutAlign="space-between center"
    fxLayoutAlign.xs="center center"
    fxLayoutGap="10px"
  >
    <button
      *ngIf="produitsLength > 0"
      mat-raised-button
      class="other-btn"
      type="button"
      [routerLink]="'/sellers/' + currentUser.username"
    >
      <mat-icon>remove_red_eye</mat-icon> Voir ma boutique
    </button>
  
    <button
      mat-raised-button
      class="submit-btn"
      type="submit"
    >
      Enregistrer <mat-icon>arrow_forward</mat-icon>
    </button>
  </div>
  
    </div>


    <div *ngIf="selectedTab === 'shipping'" class="gestion">
      <div>
        <label>Sélectionner les pays de livraison :</label>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Ajouter pays de livraison</mat-label>
          <mat-select #countrySelect (selectionChange)="addDeliveryCountry($event)">
            <mat-select-trigger>{{selectedCountries.join(', ')}}</mat-select-trigger>
            <mat-option *ngFor="let country of countries" [value]="country.nom" class="no-checkmark">
              <div class="option-content">
                <span>{{ country.nom }}</span>
                <i class="fa-solid fa-check option-icon selected" *ngIf="selectedCountries.includes(country)"></i>
                <i class="fa-solid fa-plus option-icon" *ngIf="!selectedCountries.includes(country)"></i>
              </div>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div formArrayName="deliveryCountries">
        <div *ngFor="let countryGroup of deliveryCountries.controls; let i = index" [formGroupName]="i">
          <div class="country-title">
            <b>Pays:&nbsp;</b> {{ countryGroup.get('name')?.value }}
            <mat-icon (click)="removeCountry(i, countrySelect)">delete</mat-icon>
          </div>

          <!-- Régions du pays -->
          <div class="regions-section">
            <label>Sélectionner les régions :</label>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Sélectionner les régions</mat-label>
              <mat-select multiple [formControlName]="'regions'" (selectionChange)="onRegionsChange($event, i)">
                <mat-option *ngFor="let region of mesRegions" [value]="region.id">
                  {{ region.nom }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <!-- Delivery Time Inputs -->
          <div>
            <label>Délais de livraison en nombre de jours</label><br>
            <mat-form-field appearance="outline">
              <mat-label>Exemple: 3</mat-label>
              <input matInput type="number" min="0" formControlName="nationalDeliveryPrice" placeholder="En jours" />
            </mat-form-field>
          </div>

          <!-- Delivery Price -->
          <div>
            <label>Prix de livraison</label><br>
            <mat-form-field appearance="outline">
              <mat-label>Exemple: 2000</mat-label>
              <input matInput type="number" min="500" formControlName="deliveryPrice" />
              <span matSuffix>FCFA&nbsp;&nbsp;</span>
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="button-container">
        <button mat-raised-button class="submit-btn" type="submit">Enregistrer <mat-icon>arrow_forward</mat-icon></button>
      </div>
    </div>
  </form>



  <div *ngIf="selectedTab === 'security'" class="securite">
    <form [formGroup]="passwordForm" (ngSubmit)="onPasswordFormSubmit(passwordForm.value)" class="form-container">
      <div fxLayout="row wrap" fxLayoutAlign="center center">
        <div fxFlex.gt-xs="60">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Mot de passe actuel</mat-label>
            <input matInput [type]="hide1 ? 'password' : 'text'" formControlName="currentPassword" required />
            <button mat-icon-button matSuffix (click)="hide1 = !hide1" type="button"><mat-icon>{{ hide1 ? 'visibility_off' : 'visibility' }}</mat-icon></button>
            <mat-error *ngIf="passwordForm.controls.currentPassword.errors?.required">Mot de passe actuel est obligatoire</mat-error>
            <mat-error *ngIf="passwordForm.controls.currentPassword.hasError('minlength')">Mot de passe actuel n'est pas assez long, minimum 6 caractères</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Nouveau mot de passe</mat-label>
            <input matInput [type]="hide2 ? 'password' : 'text'" formControlName="newPassword" required />
            <button mat-icon-button matSuffix (click)="hide2 = !hide2" type="button"><mat-icon>{{ hide2 ? 'visibility_off' : 'visibility' }}</mat-icon></button>
            <mat-error *ngIf="passwordForm.controls.newPassword.errors?.required">Nouveau mot de passe est obligatoire</mat-error>
            <mat-error *ngIf="passwordForm.controls.newPassword.hasError('minlength')">Nouveau mot de passe n'est pas assez long, minimum 6 caractères</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Confirmation du nouveau mot de passe</mat-label>
            <input matInput [type]="hide2 ? 'password' : 'text'" formControlName="confirmNewPassword" required />
            <button mat-icon-button matSuffix (click)="hide2 = !hide2" type="button"><mat-icon>{{ hide2 ? 'visibility_off' : 'visibility' }}</mat-icon></button>
            <mat-error *ngIf="passwordForm.controls.confirmNewPassword.errors?.required">Confirmer le nouveau mot de passe est obligatoire</mat-error>
            <mat-error *ngIf="passwordForm.controls.confirmNewPassword.hasError('mismatchedPasswords')">Les mots de passe ne correspondent pas</mat-error>
          </mat-form-field>

          <div class="button-container">
            <button mat-raised-button class="submit-btn" type="submit">Enregistrer <mat-icon>arrow_forward</mat-icon></button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
