.user-form{
    .form-field-outer{
        width: 200px;
    }
    .mat-mdc-radio-button{
        margin-right: 20px;
    }
}

.filter-section {
  display: flex;
  align-items: center;

  .country-select {
    width: 180px;
  }

  .search-input {
    width: 220px;
  }
}
.ajout{
  background-color: #241f48 !important;
  color: #fff !important;
}
.annul{
  background: #f1f3f4;
  color: #222;
}