.orders-table.mat-mdc-table {
    display: block;
    overflow-x:auto;
    .mat-mdc-row, .mat-mdc-header-row {
        display: flex;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        align-items: center;
        min-height: 48px;
        padding: 0 24px;
        min-width: 870px;
    }
    .mat-mdc-cell, .mat-mdc-header-cell {
        flex: 1;
        overflow: hidden;
        word-wrap: break-word;
    }
    .mat-mdc-header-cell {
        font-size: 14px;
        font-weight: bold;
        text-align: center;
    }
    .mat-mdc-cell{
        .order{
            color: inherit;
            text-decoration: none;
            font-weight: 500;
        }
        .btn-invoice{
            margin-left: 8px;
        }
        .actions{
            text-align: right;
        }
    }
}
.paginate.centered {
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
  }
  .sortable {
    cursor: pointer;
    //margin-left: 5px;
    font-size: 15px;
  }
  .center{
    align-content: center;
    text-align: center;
  }
  .buttons.space-around {
    display: flex;
    justify-content: space-around;
    align-items: center; /* Aligne les boutons verticalement au centre */
  }
  
  mat-icon{
    color: #feb930;
  }