$primary: #25224a;
$amber: #feb930;

.main-container{
  padding: 16px;
  @media screen and (max-width: 600px) {
    margin-bottom: 40px;
  }

  .submit-btn {
    background-color: $amber;
    color: $primary;
    margin-top: 16px;
  }
}
