<div class="p-2">
  <mat-card>
      <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="w-100 p-3">
          <h2>{{"ADMIN_NAV.CAMPAGNE_LIST" | translate}}</h2>
          <button mat-raised-button color="primary" (click)="openCampagneDialog(null)">{{"ADMIN_NAV.ADD_CAMPAGNE" | translate}}</button>
      </div>
      <mat-divider></mat-divider>
      <div class="mat-mdc-table admin-table">
          <div class="mat-mdc-header-row">
              <div class="mat-mdc-header-cell" style="width: 10%;">Libelle</div>
              <div class="mat-mdc-header-cell" style="width: 10%;">Type</div>
              <div class="mat-mdc-header-cell" style="width: 10%;">Username</div>
              <div class="mat-mdc-header-cell" style="width: 15%;">Date Debut</div>
              <div class="mat-mdc-header-cell" style="width: 15%;">Date Fin</div>
              <div class="mat-mdc-header-cell" style="width: 40%;">Actions</div>
          </div>
          <div *ngFor="let item of campagne | paginate: { itemsPerPage: count, currentPage: page }" class="mat-mdc-row">
              <div class="mat-mdc-cell" style="width: 10%;">{{item.libelle |translate}}</div>
              <div class="mat-mdc-cell" style="width: 10%;">{{item.type |translate}}</div>
              <div class="mat-mdc-cell" style="width: 10%;">{{item.username}}</div>
              <div class="mat-mdc-cell" style="width: 15%;">{{item.dateDebut | date: 'dd-MM-yyyy' }}</div>
              <div class="mat-mdc-cell" style="width: 15%;">{{item.dateFin | date: 'dd-MM-yyyy' }}</div>
              <div class="mat-mdc-cell" style="width: 40%;">
                  <div class="p-2 actions" style="display: flex; align-items: center;">
                      <button mat-mini-fab color="primary" matTooltip="Edit" (click)="openCampagneDialog(item)">
                          <mat-icon>edit</mat-icon>
                      </button>
                      <a [routerLink]="['/admin/campagne/campagne-detail', item.id]" mat-mini-fab color="primary" matTooltip="View" class="mx-2"><mat-icon>remove_red_eye</mat-icon></a>
                      <mat-slide-toggle [color]="item.etat ? 'primary' : 'warn'" [checked]="item.etat" (change)="setStatusCampagne(item.id, $event)">
                          {{ item.etat ? 'Activée' : 'Désactivée' }}
                      </mat-slide-toggle>
                  </div>
              </div>
          </div>
      </div>
      <div fxLayout="row wrap">
          <div fxFlex="100">
              <mat-card class="text-center">
                  <pagination-controls class="product-pagination" [autoHide]="true" [maxSize]="5" (pageChange)="onPageChanged($event)"></pagination-controls>
              </mat-card>
          </div>
      </div>
  </mat-card>
</div>
