<div class="p-2">
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{(id) ? 'Modifier' : 'Ajouter un nouveau'}} Parrainage</mat-card-title>
        </mat-card-header>
        <mat-card-content class="pt-3">
            <form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off" fxLayout="row wrap">
               <!-- <div fxFlex="100" fxFlex.gt-sm="40" class="px-2">
                    <p class="mt-1"><span class="uppercase fw-500">Gallery</span><span class="text-muted px-1">(max 5 images)</span></p>
                    <input-file formControlName="images" [fileLimit]="5" fileAccept="image/*"></input-file>
                </div>

                 -->
                <div fxFlex="100" fxFlex.gt-sm="100" class="px-2">
                    <div fxLayout="row wrap">
                        <div fxFlex="100" fxFlex.gt-sm="50" class="px-1">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Titre de parrainage</mat-label>
                                <input matInput formControlName="titre" required>
                                <mat-error *ngIf="form.controls.titre.errors?.required">titre est obligatoire</mat-error>
                                <mat-error *ngIf="form.controls.titre.hasError('minlength')">Prend minimum 4 caractères</mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex="100" fxFlex.gt-sm="50" class="px-1">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Produits</mat-label>
                                <mat-select formControlName="produit" required>
                                    <mat-option *ngFor="let cat of products" [value]="cat.id">
                                        <span>{{cat.nom}}</span>
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="form.controls.produit.errors?.required">Produit est obligatoire</mat-error>
                            </mat-form-field>
                        </div>
                       

                          <div fxFlex="100" fxFlex.gt-sm="50" class="px-1">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label> Montant minimum d'achat</mat-label>
                                <input matInput formControlName="montant">
                                <mat-error *ngIf="form.controls.montant.errors?.required">Le montant est obligatoire</mat-error>
                                <mat-error *ngIf="form.controls.montant.errors?.pattern">Le prix doit etre un nombre </mat-error>
                                <mat-error *ngIf="!form.controls.montant.errors?.pattern&&form.controls.montant.errors?.minlength">Le prix minimum est 100FCFA</mat-error>
                                <!-- <mat-error *ngIf="form.controls.pricePromotion.errors?.nonZero">Prix promo ne peut pas être zéro</mat-error> -->
                            </mat-form-field>
                        </div>
                        <div fxFlex="100" fxFlex.gt-sm="50" class="px-1">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label> Commission en %</mat-label>
                                <input matInput formControlName="commission">
                                <mat-error *ngIf="form.controls.commission.errors?.required">La commission est obligatoire</mat-error>
                                <mat-error *ngIf="form.controls.commission.errors?.pattern">Le prix doit etre un nombre </mat-error>
                                <mat-error *ngIf="!form.controls.commission.errors?.pattern&&form.controls.commission.errors?.minlength">Le prix minimum est 100FCFA</mat-error>
                                <!-- <mat-error *ngIf="form.controls.pricePromotion.errors?.nonZero">Prix promo ne peut pas être zéro</mat-error> -->
                            </mat-form-field>
                        </div>
                     
                        <div fxFlex="100" class="px-1">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Description</mat-label>
                                <textarea matInput formControlName="description" rows="7"></textarea>
                            </mat-form-field>
                        </div>
  
  
  
                        <div fxFlex="100" class="mt-2 text-center w-100">
                            <button mat-raised-button color="primary" type="submit">Enregistrer</button>
                        </div>
                    </div>
                </div>
            </form>
        </mat-card-content>
  
  
  
    </mat-card>
  </div>
  